<div id="wrapper" [class.toggled]="!sideBarIsClosed">
    <div class="overlay"></div>
    <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">
            <li class="sidebar-brand">Привіт!</li>
            <li><a href="#">Головна</a></li>
            <li *ngIf="this.user && this.user.role=='admin'" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">Події <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li class="dropdown-header">Події</li>
                    <li><a (click)="redirectToAllEvents(1)">Всі Події</a></li>
                    <li><a (click)="redirectToAddEventPage(1)">Створити</a></li>
                </ul>
            </li>
            <li><a (click)="redirectToShowAllRequests()">Потреби</a></li>
<li *ngIf="this.user && this.user.role=='admin'" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">Потреби <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li class="dropdown-header">Потреби</li>
                    <li><a (click)="redirectToAllRequests(1)">Всі Потреби</a></li>
                    <li><a (click)="redirectToManageRequestPage(1)">Створити</a></li>
                </ul>
            </li>
            <li *ngIf="this.user && this.user.role!=null" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">Запропонувати речі <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li class="dropdown-header">Мої речі</li>
                    <li [routerLinkActive]="['link-active']"><a [routerLink]="['offer-management/mylist']">Мої пропозиції</a></li>
                    <li [routerLinkActive]="['link-active']"><a [routerLink]="['offer-management/add']">Запропонувати річ</a></li>
                </ul>
            </li>
            <li><a href="#">Звіти</a></li>
            <li><a href="#">Налаштування</a></li>
        </ul>
    </nav>
    <button *ngIf="!sideBarIsClosed" type="button" class="hamburger is-open" (click)="showSideBar()" data-toggle="offcanvas">
        <span class="hamb-top"></span>
        <span class="hamb-middle"></span>
        <span class="hamb-bottom"></span>
    </button>
    <button *ngIf="sideBarIsClosed" type="button" class="hamburger is-closed" (click)="showSideBar()" data-toggle="offcanvas">
        <span class="hamb-top"></span>
        <span class="hamb-middle"></span>
        <span class="hamb-bottom"></span>
    </button>
</div>
