@import url(http://fonts.googleapis.com/css?family=Roboto);

.loginmodal-container h3 {
    text-align: center;
    font-size: 1.8em;
    font-family: roboto;
    color: white;
}

.loginmodal {
    text-align: center;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
}

.btn-fundtrack-style {
    background-color: #314720;
    color: white;
}

.loginmodal-submit:hover {
    border: 0px;
    text-shadow: 0 1px rgba(0,0,0,0.3);
    background-color: #357ae8;
}

.loginmodal-container a {
    text-decoration: none;
    color: white;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    transition: opacity ease 0.5s;
}

.login-help {
    font-size: 13px;
}

.loginmodal-container p {
    color: red !important;
}

.sidebar {
    position: relative;
}
