<div class="row center-block col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div *ngIf="_showMap">
        <agm-map [latitude]="lat"
                 [longitude]="lng"
                 [zoom]="zoom"
                 [disableDefaultUI]=false
                 [zoomControl]=false
                 (mapClick)="mapClicked($event)">
            <agm-marker *ngIf="marker"
                        (markerClick)="clickedMarker(marker)"
                        [latitude]="marker.lat"
                        [longitude]="marker.lng"
                        [markerDraggable]="marker.draggable"
                        (dragEnd)="markerDragEnd($event)">
                <agm-info-window>
                    <strong>Я тут</strong>
                </agm-info-window>
            </agm-marker>
        </agm-map>
    </div>
    <button class="btn btn-primary" (click)="ShowMap()">Показати карту</button>
    <button class="btn btn-primary" (click)="testMarker()">testMarker</button>
    <button class="btn btn-primary" (click)="testAddress()">testAddress</button>
</div>