@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    .body-content {
        padding-top: 50px;
    }
}

.navbar-default {
    background-color: #00aded;
}

a {
    color: black !important;
}

#footer {
    margin-top: 30px;
    padding: 15px;
    background-color: #00aded;
}
