<!-- Single button -->
<div *ngIf="name" class="btn-group" >
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Привіт,{{name}}<span class="caret"></span>
        <span *ngIf="isAdmin"><b>{{user.role}}</b></span>
    </button>
    <ul class="dropdown-menu dropdowncolor">
        <li><a [routerLink]="['/userprofile']">Мій профіль</a></li>
        <li *ngIf="isAdmin"><a [routerLink]="['/superadmin']">Панель адміністратора</a></li>
        <li *ngIf="isAdminOfOrganization"><a [routerLink]="['organization-management', idOfOrganization]">Моя організація</a></li>
        <li><a [routerLink]="['/']" (click)="exit()">Вийти</a></li>
    </ul>
</div>
<div *ngIf="!name">
    <ul class="nav nav-pills">
        <li role="presentation"><a [routerLink]="['/login']"><font size='4'>Увійти</font></a></li>
        <li role="presentation"><a [routerLink]="['/registration']"><font size='4'>Зареєструватися</font></a></li>
    </ul>
</div>
