ul {
    padding: 10px;
    width: 120px;
}

li {
    display: inline;
    overflow-x: scroll;
    height: 200px;
}

.tn {
    margin: 5px 0px;
    box-shadow: #999 1px 1px 3px 1px;
    cursor: pointer
}

.modal-content {
    width: 670px !important;
}

.imageSelected {
    width: 640px;
    position: relative;
}

.tn {
    width: 110px;
    height: 100px;
}

.arrow-back, .arrow-forward {
    position: absolute;
    opacity: 0.6;
    background-color: #314720;
    padding: 10px;
    top: 190px;
    color: white;
    cursor: pointer;
}

.arrow-forward {
    left: 612px;
}

.arrow-back {
    right: 612px;
}

.scroll {
    opacity: 0.3;
    background-color: darkolivegreen;
    padding: 10px;
    width: 117px;
    padding: 10px;
    top: 10px;
    height: 10px;
    color: white;
    cursor: pointer;
}

.scrollable-menu {
    width:137px;
    height: auto !important;
    max-height: 350px !important;
    margin:10px;
    overflow-x: hidden !important;
}
