<div *ngIf="_event" class="container col-lg-12 col-md-12 col-sm-12 col-xs-12" id="background">
    <h2>Додати нову подію</h2>
    <form #form="ngForm" novalidate>
        <div class="form-group" [class.has-error]="description.invalid && description.dirty">
            <label class="control-label">Опис нової події</label>
            <textarea #description="ngModel"
                      rows="10"
                      required
                      type="text"
                      class="form-control"
                      name="description"
                      [(ngModel)]="_event.description"></textarea>
            <p *ngIf="description.invalid && description.dirty" class="error-message">
                Має бути опис події
            </p>
        </div>
        <div class="form-group">
            <div>
                <span *ngFor="let _currentImage of _event.images">
                    <img src="{{_currentImage.imageUrl}}" class="img-responsive img-thumbnail" style="border:none" height="100" width="100">
                </span>
                <img src="http://www.freeiconspng.com/uploads/add-icon--line-iconset--iconsmind-29.png" (click)="imageInput.click()" class="img-responsive img-thumbnail" style="border-width:1px" height="300" width="200">
                <input type="file" (change)="saveFileInAws($event)" #imageInput accept=".png,.jpg" class="well well-sm hidden">
            </div>
        </div>
        <button class="btn btn-success" type="submit" (click)="addNewEvent()" [disabled]="form.invalid">Додати</button>
    </form>
    <br />
</div>