<div *ngIf="_allEvents" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 list-group">
    <spinner [showSpinner]="_showUsersSpinner"></spinner>
    <div *ngFor="let event of _allEvents" id="products">
        <div class="item col-xs-12 col-lg-3">
            <div class="thumbnail">
                <div class="item-header">
                    <h4 class="header-text">{{event.createDate|date:'d.M.y - H:m'}}</h4>
                    <div class="action-icons">
                        <a (click)="redirectToDeteilPage(event.id)"><span class="glyphicon glyphicon-info-sign green"></span></a>
                        <a (click)="redirectToDetailEditPage(event.id)"><span class="glyphicon glyphicon-pencil green"></span></a>
                        <a (click)="setCurrentEventItem(event)" data-toggle="modal" data-target="#deleteEvent"><span class="glyphicon glyphicon-trash green"></span></a>
                    </div>
                </div>
                <div class="photo">
                    <img *ngIf="event.mainImage" class="center-block group list-group-image img-responsive main-image" src="{{event.mainImage.imageUrl}}"
                        alt="" />
                </div>
                <div class="caption">
                    <div class="description">
                        <p class="group inner list-group-item-text">{{event.description|truncate : 140}}</p>
                    </div>
                </div>
                <div class="row">
                    <delete-event [itemToToDelete]='_currentEventItem' (onSuccesfullDelete)="deleteEvent()"></delete-event>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="_allEvents">
    <div class="center-block pagination-dropdown">
        <span id="for-select-item">Показати по:</span>
        <select-item [items]="[4,8,16,24,48]" (onSelect)="itemsPerPageChange($event)">
        </select-item>
    </div>
    <div class="text-center" *ngIf="_totalItems && _itemPerPage">
        <pagination-pages [offset]="_offset" [limit]="_itemPerPage" [size]="_totalItems" [currentPage]="_currentPage" (pageChange)="onPageChange($event)"
            class="col-md-12">
        </pagination-pages>
    </div>
</div>