<spinner [showSpinner]="_showUsersSpinner"></spinner>
<h2 class="text-center">Всі події</h2>
<div *ngIf="_allEvents" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 list-group">
    <div *ngFor="let event of _allEvents" id="products">
        <div class="item col-xs-12 col-lg-3">
            <div class="thumbnail">
                <div class="photo">
                    <img class="list-group-image" src="{{event.images[0].imageUrl}}" alt="" />
                </div>
                <div class="caption">
                    <p class="group inner list-group-item-text">{{event.description|truncate : 150}}</p>
                    <div class="row">
                        <div class="col-lg-4 col-xs-12 col-md-4">
                            <p>{{event.createDate|date:'shortTime'}}</p>
                        </div>
                        <div class="col-lg-4 col-md-4 col-xs-12">
                            <button class="btn btn-success" (click)="redirectToDetailEditPage(event.id)">Редагувати</button>
                        </div>
                        <div class="col-lg-4 col-md-4 col-xs-12">
                            <button class="btn btn-danger" (click)='setCurrentEventItem(event)' data-toggle="modal" data-target="#deleteEvent">Видалити</button>
                        </div>
                        <delete-event [itemToToDelete]='_currentEventItem' (onSuccesfullDelete)="deleteEvent()"></delete-event>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="_allEvents">
    <div *ngIf="_totalItems && _itemPerPage" class="text-center">
        <div class="pegination-dropdown">
            <select-item [items]="[4, 8, 12]"
                         (onSelect)="itemsPerPageChange($event)">
            </select-item>
        </div>
        <pagination-pages [offset]="_offset"
                          [limit]="_itemPerPage"
                          [size]="_totalItems"
                          [currentPage]="_currentPage"
                          (pageChange)="onPageChange($event)">
        </pagination-pages>
    </div>
</div>




