.error-message {
    color: #ff0000;
    font-size: x-large;
}

.has-error label {
    color: #ff0000 !important;
}

img {
    height: 300px;
}

#background{
    background-color:#aab08b;
}


/********************************************************
                 FOR IMAGE UPLOADER
********************************************************/


.item-image {
    border: solid 1px;
    height: 100px;
    width: 100px;
}

.img-container {
    position: relative;
    display: inline-block; /* added */
    overflow: hidden; /* added */
    margin-right: 7px;
    cursor: pointer;
}

    .img-container img {
        width: 100px;
    }
    /* remove if using in grid system */


    .img-container:hover img {
        opacity: 0.5 !important;
    }

    .img-container:hover a {
        opacity: 1; /* added */
        top: 0; /* added */
        z-index: 500;
    }
        /* added */
        .img-container:hover a span {
            color: orangered;
            font-size: 25px;
            top: 50%;
            position: absolute;
            left: 0;
            right: 0;
            transform: translateY(-50%);
        }
    /* added */
    .img-container a {
        display: inline-block;
        position: absolute;
        top: -100%;
        opacity: 0;
        left: 0;
        bottom: 0;
        right: 0;
        text-align: center;
        color: inherit;
    }