<div class="col-lg-4 col-lg-offset-4">
    
    <form [formGroup]="registrationForm" class="form-horizontal" id="registrationForm" novalidate>
        <h3 class="formHeader text-center">Реєстрація нового користувача</h3>
        <div class="form-group" [class.has-error]="formErrors.firstName"
             [class.has-success]="!formErrors.firstName && registrationForm.get('firstName').valid">
            <label class="control-label" for="firstName">Імя</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user" aria-hidden="true"></i></span>
                <input placeholder="Ваше імя" type="text" class="form-control"
                       formControlName="firstName" [(ngModel)]="registrationViewModel.firstName" />
            </div>
            <div>
                <span *ngIf="formErrors.firstName" class="has-error help-block fixedError">
                    {{ formErrors.firstName }}
                </span>
            </div>
        </div>

        <div class="form-group" [class.has-error]="formErrors.lastName"
             [class.has-success]="!formErrors.lastName && registrationForm.get('lastName').valid">
            <label class="control-label" for="lastName">Прізвище</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user" aria-hidden="true"></i></span>
                <input placeholder="Ваше прізвище" type="text" class="form-control input-md"
                       formControlName="lastName" [(ngModel)]="registrationViewModel.lastName" />
            </div>
            <span *ngIf="formErrors.lastName" class="has-error help-block fixedError">
                {{ formErrors.lastName }}
            </span>
        </div>

        <div class="form-group" [class.has-error]="formErrors.login"
             [class.has-success]="!formErrors.login && registrationForm.get('login').valid">
            <label class="control-label" for="login">Логін</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user" aria-hidden="true"></i></span>
                <input placeholder="Ваш логін" type="text" class="form-control input-md"
                       formControlName="login" [(ngModel)]="registrationViewModel.login" />
            </div>
            <span *ngIf="formErrors.login" class="has-error help-block fixedError">
                {{ formErrors.login }}
            </span>
        </div>

        <div class="form-group" [class.has-error]="formErrors.email || errorMessage"
             [class.has-success]="!formErrors.email && registrationForm.get('email').valid">
            <label class="control-label" for="email">Email</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i></span>
                <input placeholder="Ваш e-mail" class="form-control input-md" type="text"
                       formControlName="email" [(ngModel)]="registrationViewModel.email" />
            </div>
            <span *ngIf="formErrors.email" class="has-error help-block fixedError">
                {{ formErrors.email }}
            </span>
            <span *ngIf="errorMessage">
                <span class="has-error help-block fixedError">{{errorMessage}}</span>
            </span>
        </div>

        <div class="form-group" [class.has-error]="formErrors.password"
             [class.has-success]="!formErrors.password && registrationForm.get('password').valid">
            <label class="control-label" for="password">Пароль</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock" aria-hidden="true"></i></span>
                <input placeholder="Ваш пароль" class="form-control input-md" [type]="type"
                       formControlName="password" [(ngModel)]="registrationViewModel.password" />
                <span class="input-group-addon"><i [ngClass]="glyphyconEye" (click)="showPassword()" aria-hidden="true"></i></span>
            </div>
            <span *ngIf="formErrors.password" class="has-error help-block fixedError">
                {{ formErrors.password }}
            </span>
        </div>

        <div class="form-group" [class.has-error]="formErrors.confirmPassword || registrationForm.hasError('mismatchedPasswords')"
             [class.has-success]="!formErrors.confirmPassword && registrationForm.get('confirmPassword').valid">
            <label class="control-label" for="confirmPassword">Підтвердіть пароль</label>
            <div class="input-group">
                <span class="input-group-addon glyphicon glyphicon-lock"><i aria-hidden="true"></i></span>
                <input type="password" placeholder="Підтвердіть пароль" class="form-control input-md"
                       formControlName="confirmPassword" [(ngModel)]="registrationViewModel.passwordConfirm" />
            </div>
            <div *ngIf="formErrors.confirmPassword || registrationForm.hasError('mismatchedPasswords')" class="has-error help-block fixedError">
                {{ formErrors.confirmPassword }}
            </div>
            <div *ngIf="registrationForm.hasError('mismatchedPasswords')" class="has-error help-block fixedError">Паролі не співпадають</div>
        </div>

        <div class="form-group">
            <label class="control-label" for="submit"></label>
            <button id="submit" class="btn btn-success pull-right" [disabled]="registrationForm.invalid" (click)="register()">Зареєструватись</button>
        </div>
    </form>
    </div>
