<form class="form-horizontal">
    <fieldset>
        <!-- Form Name -->
        <legend>Реєстрація нового користувача</legend>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="fn">Імя</label>
            <div class="col-md-4">
                <input id="firstName" name="firstName" [(ngModel)]="registrationViewModel.firstName" type="text" placeholder="Імя" class="form-control input-md" required="">

            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="ln">Прізвище</label>
            <div class="col-md-4">
                <input id="ln" name="ln" type="text" [(ngModel)]="registrationViewModel.lastName" placeholder="Прізвище" class="form-control input-md" required="">

            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="cmpny">Логін</label>
            <div class="col-md-4">
                <input id="cmpny" name="cmpny" [(ngModel)]="registrationViewModel.login"type="text" placeholder="Логін" class="form-control input-md" required="">

            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="email">Email</label>
            <div class="col-md-4">
                <input id="email" name="email" type="text"[(ngModel)]="registrationViewModel.email" placeholder="email" class="form-control input-md" required="">

            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="add1">Пароль</label>
            <div class="col-md-4">
                <input id="add1" name="add1" type="password" [(ngModel)]="registrationViewModel.password" class="form-control input-md" required="">

            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="add2">Підтвердіть пароль</label>
            <div class="col-md-4">
                <input id="add2" name="add2" type="text" placeholder="" class="form-control input-md">

            </div>
        </div>
        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="submit"></label>
            <div class="col-md-4">
                <button id="submit" name="submit" class="btn btn-primary" (click)="register()">Зареєструватись</button>
            </div>
        </div>
    </fieldset>
</form>