.fixedError {
    margin-bottom: 0px;
}
.form-group {
    margin-bottom: 7px !important;
}

#registrationForm {
    width: 400px;
}

.formHeader {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}