<div class="col-md-4 col-md-offset-4">
    <div *ngIf="!emailSend">
        <div>
            <h4 class="text-center">Впишіть свій e-mail під яким ви зареєстровані в системі</h4>
        </div>
        <form [formGroup]="emailForm" class="form-horizontal" style="width: 400px" novalidate>
            <div class="form-group" [class.has-error]="formErrors.email"
                                    [class.has-success]="!formErrors.email && emailForm.get('email').valid">
                <label class="control-label" for="email">Email</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i></span>
                        <input placeholder="Ваш e-mail"
                               formControlName="email" 
                               class="form-control input-md" 
                               type="text"                     
                               [(ngModel)]="recoveryEmail.email" />            
                </div>  
                <span *ngIf="formErrors.email" class="has-error help-block fixedError">
                    {{ formErrors.email }}
                </span>
                <span *ngIf="errorMessage.length > 0" class="text-danger">
                    {{errorMessage}}
                </span>
            </div>
            <div class="form-group">
                <label class="control-label" for="submit"></label>
                <button id="submit"
                        [disabled]="emailForm.invalid"
                        class="btn btn-primary pull-right" 
                        (click)="sendEmail()">Відправити Email</button>
            </div>
        </form>
    </div>    
    <div *ngIf="emailSend">
         <p>На пошту {{recoveryEmail.email}} був відправлений лист для відновлення паролю.</p>
         <p>Якшо він не прийшов протягов 5 хвилин натисніть
        <button (click)="sendEmail()" class="btn btn-xs">Відправити ще раз</button></p>
    </div>
</div>