<div class="col-md-4 col-md-offset-4">
    <div *ngIf="!passwordChanged">
        <h3>Створення нового паролю</h3>
        <hr />
        <form [formGroup]="passwordForm" class="form-horizontal" style="width: 400px" novalidate>

            <div class="form-group" [class.has-error]="formErrors.password"
                 [class.has-success]="!formErrors.password && passwordForm.get('password').valid">
                <label class="control-label" for="password">Новий Пароль</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock" aria-hidden="true"></i></span>
                    <input placeholder="Ваш пароль" 
                           class="form-control input-md" 
                           [type]="type"
                           formControlName="password"
                           [(ngModel)]="resetPasswordModel.newPassword" />
                    <span class="input-group-addon"><i [ngClass]="glyphyconEye" (click)="showPassword()" aria-hidden="true"></i></span>
                </div>
                <span *ngIf="formErrors.password" class="has-error help-block fixedError">
                    {{ formErrors.password }}
                </span>
            </div>

            <div class="form-group" [class.has-error]="formErrors.confirmPassword || passwordForm.hasError('mismatchedPasswords')"
                 [class.has-success]="!formErrors.confirmPassword && passwordForm.get('confirmPassword').valid">
                <label class="control-label" for="confirmPassword">Підтвердіть пароль</label>
                <div class="input-group">
                    <span class="input-group-addon glyphicon glyphicon-lock"><i aria-hidden="true"></i></span>
                    <input type="password"
                           placeholder="Підтвердіть пароль"
                           class="form-control input-md"
                           formControlName="confirmPassword"
                           [(ngModel)]="resetPasswordModel.newPasswordConfirm" />
                </div>
                <div *ngIf="formErrors.confirmPassword || passwordForm.hasError('mismatchedPasswords')" class="has-error help-block fixedError">
                    {{ formErrors.confirmPassword }}
                </div>
                <div *ngIf="passwordForm.hasError('mismatchedPasswords')" class="has-error help-block fixedError">Паролі не співпадають</div>
            </div>

            <div class="form-group">
                <label class="control-label" for="submit"></label>
                <button id="submit"
                        class="btn btn-primary pull-right"
                        [disabled]="passwordForm.invalid" 
                        (click)="changePassword()">
                Змінити Пароль
                </button>
                <div *ngIf="errorMessage">
                    <span class="has-error help-block fixedError">{{errorMessage}}</span>
                </div>
            </div>
        </form>
    </div>
    <div *ngIf="passwordChanged">
       <h3>Ваш пароль було змінено. Будь ласка <a [routerLink]="['/login']">Залогуйтеся</a></h3>
    </div>
</div>
