.table-sortable > thead > tr > th {
    cursor: pointer;
    position: relative;
    background-image: none;
}

.grey {
    color: #ccc
}

a {
    cursor: pointer;
}

/*---------Search input----------*/
.stylish-input-group {
    margin-bottom: 10px;
}

    .stylish-input-group .input-group-addon {
        background: white !important;
    }

    .stylish-input-group .form-control {
        border-right: 0;
        box-shadow: 0 0 0;
        border-color: #ccc;
    }

.blue {
    color: royalblue;
}

/*---------Drop Down----------*/
select {
    width: 80px;
    border-radius: 4px;
    border: 1px solid #550;
}
