
input[type="file"] {
    opacity: 0;
    z-index: 2;
    cursor: pointer;
}

label,
input[type="file"] {
    display: block;
    width: 80px;
    height: 80px;
    background: url(https://imagga.com/static/images/upload.svg) no-repeat 100% 100%;
    text-align: center;
    cursor: pointer;
}

label {
    position: relative;
}

.image-list {
    display: flex;
    width: 400px;
    flex-wrap: wrap;
}

.uploader input {
    display: none;
}

.uploader {
    -webkit-align-items: center;
    align-items: center;
    background-color: #efefef;
    background-color: rgba(0, 0, 0, 0.02);
    cursor: pointer;
    display: -webkit-flex;
    display: flex;
    height: 80px;
    -webkit-justify-content: center;
    justify-content: center;
    outline: 3px dashed #ccc;
    outline-offset: 5px;
    position: relative;
    width: 80px;
    margin: 15px;
}

.uploader img,
.uploader .icon {
    pointer-events: none;
}

.uploader,
.uploader .icon {
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    -ms-transition: all 100ms ease-in;
    -o-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
}

.uploader .icon {
    color: #eee;
    color: rgba(0, 0, 0, 0.2);
    font-size: 5em;
}

.uploader img {
    left: 50%;
    opacity: 0;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 50%;
    -webkit-transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
    -ms-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.uploader img.loaded {
    opacity: 1;
}