<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
    Configure your application settings in appsettings.json. Learn more at https://go.microsoft.com/fwlink/?LinkId=786380
  -->
  <system.web>
    <machineKey validationKey="71FC3D5BE5A4659DC6B3DE09B37E750C8A3349033FBA7AAC2C571198B2AF84F0"
               decryptionKey="71FC3D5BE5A4659DC6B3DE09B37E750C8A3349033FBA7AAC2C571198B2AF84F0"
               validation="HMACSHA256"
               decryption="AES"/>
  </system.web>
  <system.webServer>
    <!--<handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>-->
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false" />
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
  </system.webServer>
</configuration>