<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Ой! Сталася помилка!</title>
    <style>
        .center {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: auto;
            margin-top: auto;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="hero-unit center">
                    <h1>Сторінку не знайдено <small><font face="Tahoma" color="red">Помилка 404</font></small></h1>
                    <br />
                    <p>Сторінку яку ви запитували не знайдено. Використовуйте кнопку <b>Назад</b> для навігації до попередньої сторінки.</p>
                    <p><b>Або перейдіть на головну сторінку</b></p>
                    <a href="#" class="btn btn-large btn-info"><i class=""></i> Повернутися додому</a>
                </div>
                <br />
            </div>
        </div>
    </div>
</body>
</html>