<div class="container">
    <h3 class="page-header">Редагування профілю</h3>
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="text-center">
                <img src="{{user.photoUrl}}" class="avatar img-responsive img-thumbnail" style="border:none" alt="avatar" height="350" width="250">
                <input type="file" (change)="saveFileInAws($event)" #imageInput accept=".png,.jpg" class="text-center center-block well well-sm hidden">
                <button type="button" class="btn btn-success" (click)="imageInput.click()">Завантажити інше фото</button>
                <hr />
                <button type="button" class="btn btn-primary" (click)="onPasswordChange()">Змінити пароль</button>
            </div>
        </div>
        <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
            <div class="alert alert-info alert-dismissable">
                <a class="panel-close close" data-dismiss="alert">×</a>
                <i class="fa fa-coffee"></i> Тут можна показувати сповіщення для юзера
            </div>
            <h3>Особисті дані</h3>
            <form [formGroup]="userForm" class="form-horizontal" style="width:400px;padding-left:20px;" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label class="control-label" for="login">Логін</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user" aria-hidden="true"></i></span>
                        <input type="text" disabled class="form-control" name="user.login" formControlName="login" [(ngModel)]="user.login" />
                    </div>
                </div>
                <div class="form-group" [class.has-error]="formErrors.firstName" [class.has-success]="!formErrors.firstName && userForm.get('firstName').valid">
                    <label class="control-label" for="firstName">Ім'я</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" formControlName="firstName" [(ngModel)]="user.firstName" />
                    </div>
                    <div>
                        <span *ngIf="formErrors.firstName" class="has-error help-block fixedError">
                            {{ formErrors.firstName }}
                        </span>
                    </div>
                </div>
                <div class="form-group" [class.has-error]="formErrors.lastName" [class.has-success]="!formErrors.lastName && userForm.get('lastName').valid">
                    <label class="control-label" for="user.lastName">Прізвище</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user" aria-hidden="true"></i></span>
                        <input type="text" class="form-control input-md" formControlName="lastName" [(ngModel)]="user.lastName" />
                    </div>
                    <span *ngIf="formErrors.lastName" class="has-error help-block fixedError">
                        {{ formErrors.lastName }}
                    </span>
                </div>
                <div class="form-group" [class.has-error]="formErrors.address" [class.has-success]="!formErrors.email && userForm.get('address').valid">
                    <label class="control-label" for="address">Адреса</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i></span>
                        <input class="form-control input-md" type="text" formControlName="address" [(ngModel)]="user.address" />
                    </div>
                    <span *ngIf="formErrors.address" class="has-error help-block fixedError">
                        {{ formErrors.address }}
                    </span>
                </div>
                <div class="form-group" [class.has-error]="formErrors.email" [class.has-success]="!formErrors.email && userForm.get('email').valid">
                    <label class="control-label" for="email">Email</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i aria-hidden="true">@</i></span>
                        <input class="form-control input-md" type="text" formControlName="email" [(ngModel)]="user.email" />
                    </div>
                    <span *ngIf="formErrors.email" class="has-error help-block fixedError">
                        {{ formErrors.email }}
                    </span>
                </div>
                <div class="form-group">
                    <label class="control-label"></label>
                    <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid">Зберегти</button>
                </div>
            </form>
        </div>
    </div>
</div>
<app-modal>
    <div class="app-modal-header">
        <h3>Змінити пароль</h3>
    </div>
    <div class="app-modal-body">
        <form [formGroup]="passwordForm" class="form-horizontal" novalidate>
            <div class="form-group" [class.has-error]="formErrors.oldPassword"
                 [class.has-success]="!formErrors.oldPassword && passwordForm.get('oldPassword').valid">
                <label class="col-md-3 control-label" for="oldPassword">Старий пароль</label>
                <div class="col-md-8 input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock" aria-hidden="true"></i></span>
                    <input class="form-control input-md" type="password"
                           formControlName="oldPassword" [(ngModel)]="passwordContainer.oldPassword" />
                </div>
                <span *ngIf="formErrors.oldPassword" class="has-error help-block fixedError" style="margin-left:200px">
                    {{ formErrors.oldPassword }}
                </span>
            </div>
            <div class="form-group" [class.has-error]="formErrors.newPassword"
                 [class.has-success]="!formErrors.newPassword && passwordForm.get('newPassword').valid">
                <label class="col-md-3 control-label" for="newPassword">Новий пароль</label>
                <div class="col-md-8 input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock" aria-hidden="true"></i></span>
                    <input class="form-control input-md" type="password"
                           formControlName="newPassword" [(ngModel)]="passwordContainer.newPassword" />
                </div>
                <span *ngIf="formErrors.newPassword" class="has-error help-block fixedError" style="margin-left:200px">
                    {{ formErrors.newPassword }}
                </span>
            </div>
            <div class="form-group" [class.has-error]="formErrors.newPasswordConfirmation"
                 [class.has-success]="!formErrors.newPasswordConfirmation && passwordForm.get('newPasswordConfirmation').valid">
                <label class="col-md-3 control-label" for="newPasswordConfirmation">Підтвердження пароля</label>
                <div class="col-md-8 input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock" aria-hidden="true"></i></span>
                    <input class="form-control input-md" type="password"
                           formControlName="newPasswordConfirmation" [(ngModel)]="passwordContainer.newPasswordConfirmation" />
                </div>
                <span *ngIf="formErrors.newPasswordConfirmation" class="has-error help-block fixedError" style="margin-left:200px" >
                    {{ formErrors.newPasswordConfirmation }}
                </span>
            </div>
            <span *ngIf="passwordForm.hasError('mismatchedPasswords')" class="has-error help-block fixedError" style="margin-left:200px"
                 >Паролі не співпадають</span>
        </form>
    </div>
    <div class="app-modal-footer">
        <button type="button" class="btn btn-default" (click)="modal.hide()">Закрити</button>
        <button type="button" class="btn btn-primary" [disabled]="passwordForm.invalid" (click)="changePassword()">Зберегти</button>
        <div class="col-md-4 col-md-offset-4 form-group">
            <p class="error" *ngIf="errorMessage"><span class="text-danger">{{errorMessage}}</span></p>
        </div>
    </div>
</app-modal>