<div class="well container-fluid">
    <spinner [showSpinner]="showUserRegistrationSpinner"></spinner>
    <section>
        <div class="panel-heading">
            <h3><u>{{header}}</u></h3>
        </div>
        <div class="input-list style-4 clearfix">
            <h4 style="margin-left:15px;">Заголовок</h4>
            <input type="text" class="titlefield" [(ngModel)]="this.offerItem.name" name="name" required maxlength="100" #name="ngModel">
            <div style="padding-left:15px;" *ngIf="name.errors && (name.dirty || name.touched)">
                <div  [hidden]="!name.errors.required">
                    <span class="has-error">Заголовок є обов'язковим</span>
                </div>
                <div [hidden]="!name.errors.maxlength">
                    Довжина не може перевищувати 100 символів
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-6" style="margin-left:-13px;">
                    <h4>Категорія</h4>
                </div>
                <div class="col-md-6 ">
                    <h4>Підкатегорія</h4>
                </div>
            </div>
            <div >
                <div class="col-md-5">
                    <select [(ngModel)]="_selectedType" class="mdb-select" #type>
                        <option selected="selected">Виберіть тип</option>
                        <option *ngFor="let goodType of _goodsTypes"
                                [ngValue]="goodType">
                            {{goodType.name}}
                        </option>
                    </select>
                </div>
                <div class="col-md-5 col-md-push-1" style="margin-left:-13px;">
                    <select [(ngModel)]="offerItem.goodsCategoryId">
                        <option selected="selected">Виберіть категорію</option>
                        <option *ngFor="let category of _selectedType.typeCategories"
                                [value]="category.id">
                            {{category.name}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-md-12">
                <h4>Опис</h4>
                <textarea maxlength="2000" [(ngModel)]="this.offerItem.description" #offerItemDescription id="offerItemDescription"></textarea>
                <small class="form-text text-muted"><code>{{offerItemDescription.value.length}}</code> з <code>{{maxDescriptionLength}}</code> символів</small>
            </div>
            <div class="col-xs-12" style="height:20px;"></div>
            <div class="col-md-12">
                <img src='https://s3.eu-central-1.amazonaws.com/fundtrack/default-placeholder.png' (click)="imageInput1.click()" class="avatar img-responsive img-thumbnail itemimage" style="border:none" alt="avatar"  width="126">
                <input type="file" (change)="saveFileInAws($event)" #imageInput1 accept=".png,.jpg" class="text-center center-block well well-sm hidden">
                <span *ngFor="let image of offerItem.images">
                    <img src="{{image.imageUrl}}" class="avatar img-responsive img-thumbnail itemimage" style="border:none" alt="avatar" width="126">
                </span>
            </div>
            <div class="col-md-12" style="margin:10px 10px 10px 10px">
                <h4>Контактні дані</h4>
                <hr />
                <div class="col-md-4">
                    <label style="padding-left:12px" for="contactName"><span style="font-size:medium;">Контактна особа</span></label>
                    <input id="contacts" class="contacts" type="text" name="contactName" [(ngModel)]="this.offerItem.contactName" />
                </div>
                <div class="col-md-4">
                    <label style="padding-left:12px" for="location"><span style="font-size:medium;">Місцезнаходження</span></label>
                    <input id="location" class="contacts" type="text" name="location" [(ngModel)]="this.offerItem.contactAddress" />
                </div>
                <div class="col-md-4">
                    <label style="padding-left:12px" for="phone"><span style="font-size:medium;">Телефон</span></label>
                    <input id="phone" class="contacts" type="text" name="phone" [(ngModel)]="this.offerItem.contactPhone" />
                </div>
            </div>
            <div  class="col-md-12">
                <button style="padding:5px 10px 5px 10px" type="submit" class="btn btn-success btn-lg pull-right" (click)="submit()">Зберегти і повернутись</button>
            </div>
        </div>
    </section>
</div>
