img {
    display: block;
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
}
.buttoncontrol {
    width: 115px !important;
}

.deactivated {
    color: #f0ad4e;
}
.activated {
    color: #5cb85c;
}