<div class="well container-fluid" *ngFor="let offer of offers">
    <div class="row">
        <div class="col-md-3" *ngIf="offer.image">
            <img class=".img-thumbnail" height="200" width="200" src="{{offer.mainImage.imageUrl}}" alt="itemImage" />
        </div>
        <div class="col-md-7">
            <div class="col-md-12">
                <h3> {{offer.name}}</h3>
            </div>
            <div class="col-md-12">
                {{offer.description|truncate : 350}}
            </div>
            <div class="col-md-12" style="margin-top:40px;margin-left:-10px;">
                <div class="col-md-4">
                    <b>Дата створення:</b> {{date}}
                </div>
                <div class="col-md-2">
                    <b>Статус:</b> <b><span [ngClass]="{'activated':offer.statusName=='Активний','deactivated':offer.statusName=='Неактивний'}" >{{offer.statusName}}</span></b>
                </div>
                <div class="col-md-6 col-md-push-2">
                        <b>Категорія:</b><br /><b><span>{{offer.goodsTypeName}} - {{offer.goodsCategoryName}}</span></b>
                </div>
            </div>
        </div>
        <div class="col-md-1">
            <div class="btn-group btn-group-vertical controlbutton">
                <button class="btn btn-default buttoncontrol" (click)="goToEditPage(offer)">Змінити</button>
                <button class="btn btn-default buttoncontrol" (click)="changeOfferItemStatus(offer)">{{offer.statusName=='Активний'? 'Дезактивувати' : 'Активувати'}}</button>
                <button class="btn btn-danger buttoncontrol" (click)="deleteConfirm(offer)">Видалити</button>
            </div>
        </div>
    </div>
</div>
<!--<div class="well container-fluid" *ngIf="!=offers">
    <h3>У Вас немає жодної доданої речі</h3>
</div>-->