<div class="well container-fluid">
    <spinner [showSpinner]="showUserRegistrationSpinner"></spinner>
    <section>
        <div class="panel-heading">
            <h3><u>{{header}}</u></h3>
        </div>
        <div class="input-list style-4 clearfix">
            <h4 style="margin-left:15px;">Заголовок</h4>
            <input type="text" class="titlefield form-control" [(ngModel)]="this.offerItem.name" name="name" required maxlength="100" #name="ngModel">
            <div style="padding-left:15px;" *ngIf="name.errors && (name.dirty || name.touched)">
                <div [hidden]="!name.errors.required">
                    <span class="has-error">Заголовок є обов'язковим</span>
                </div>
                <div [hidden]="!name.errors.maxlength">
                    Довжина не може перевищувати 100 символів
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-6" style="margin-left:-13px;">
                    <h4>Категорія</h4>
                </div>
                <div class="col-md-6 ">
                    <h4>Підкатегорія</h4>
                </div>
            </div>
            <div>
                <div class="col-md-5">
                    <select [(ngModel)]="_selectedType" class="mdb-select form-control" name="type" required #type="ngModel">
                        <option selected=""></option>
                        <option *ngFor="let goodType of _goodsTypes"
                                [ngValue]="goodType">
                            {{goodType.name}}
                        </option>
                    </select>
                    <div [hidden]="type.valid || type.untouched" class="has-error">
                        Виберіть тип
                    </div>
                </div>
                <div class="col-md-5 col-md-push-1" style="margin-left:-13px;">
                    <select [(ngModel)]="offerItem.goodsCategoryId" class="mdb-select form-control" name="category" required #category="ngModel">
                        <option selected=""></option>
                        <option *ngFor="let category of _selectedType.typeCategories"
                                [ngValue]="category.id">
                            {{category.name}}
                        </option>
                    </select>
                    <div [hidden]="category.valid || category.untouched" class="has-error">
                        Виберіть категорію
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <h4>Опис</h4>
                <textarea required class="form-control" name="description" maxlength="2000" [(ngModel)]="this.offerItem.description" #offerItemDescription id="offerItemDescription" #description="ngModel"></textarea>
                <div [hidden]="description.valid || description.untouched" class="has-error">
                   Опис є обов'язковим
                </div>
                <small class="form-text text-muted"><code>{{offerItemDescription.value.length}}</code> з <code>{{maxDescriptionLength}}</code> символів</small>
            </div>
            <div class="col-xs-12" style="height:20px;"></div>
            <div class="col-md-12">
                <div>
                    <image-list [images]="images" [maxCount] ="maxImgCount" [maxSize]="maxImgSize" (getImageChange)="onImageChange($event)"></image-list>
                </div>
            </div>
            <div class="col-md-12">
                <button [disabled]="name.invalid || description.invalid || type.invalid || category.invalid" style="padding:5px 10px 5px 10px" type="submit" class="btn btn-success btn-lg pull-right" (click)="submit()">Зберегти і повернутись</button>
            </div>
        </div>
    </section>
</div>
