<div class="well container-fluid">
    <section>

        <div class="input-list style-4 clearfix">
            <h3>Заголовок</h3>
            <input type="text">
            <h3>Категорія</h3>
            <h3>Підкатегорія</h3>
            <div class="col-md-5">
                <input class="col-md-pull-0" type="text" name="product" list="productName" />
                <datalist id="productName">
                    <option value="Pen">Pen</option>
                    <option value="Pencil">Pencil</option>
                    <option value="Paper">Paper</option>
                </datalist>
            </div>
            <div class="col-md-5 col-md-push-2">
                <input class="col-md-pull-0" type="text" name="product" list="productName" />
                <datalist id="productName">
                    <option value="Pen">Pen</option>
                    <option value="Pencil">Pencil</option>
                    <option value="Paper">Paper</option>
                </datalist>
            </div>
        </div>
    </section>
</div>
