<button id="submit" class="btn btn-success" (click)="onActionClick()">Отримати виписки</button>
<app-modal>
    <div class="app-modal-header">
        <button type="button" class="close" aria-hidden="true" (click)="closeModal()">&times;</button>
        <h4 class="modal-title">Заповніть дані: </h4>
    </div>
    <div class="app-modal-body">
        <div class="collapse in" id="collapseExample">
            <form class="form-horizontal" [formGroup]="bankImportForm" id="bankImportForm" novalidate>
                <div class="form-group">
                    <label class="control-label">Номер картки:</label>
                    <input class="form-control"
                           type="text"
                           placeholder="Номер картки"
                           name="cardNumber"
                           formControlName="cardNumber"
                           [(ngModel)]="dataForPrivat.card"
                           required="" />
                    <span *ngIf="formErrors.cardNumber" class="has-error help-block error-message">
                        {{ formErrors.cardNumber }}
                    </span>
                </div>
                <div class="form-group">
                    <label class="control-label">ID мерчанта:</label>
                    <input class="form-control"
                           type="text"
                           placeholder="ID мерчанта"
                           formControlName="idMerchant"
                           required=""
                           [(ngModel)]="dataForPrivat.idMerchant" />
                    <span *ngIf="formErrors.idMerchant" class="has-error help-block error-message">
                        {{ formErrors.idMerchant }}
                    </span>
                </div>
                <div class="form-group">
                    <label class="control-label">Пароль мерчанта:</label>
                    <input class="form-control"
                           type="password"
                           formControlName="password"
                           placeholder="Пароль мерчанта"
                           required=""
                           [(ngModel)]="dataForPrivat.password" />
                    <span *ngIf="formErrors.password" class="has-error help-block error-message">
                        {{ formErrors.password}}
                    </span>
                </div>
                <div class="form-group">
                    <label class="control-label">Дата "з":</label>
                    <input class="form-control" type="date"
                           placeholder="З"
                           formControlName="dataFrom"
                           required=""
                           [(ngModel)]="dataPrivatFrom" />
                </div>
                <div class="form-group">
                    <label class="control-label">Дата "по":</label>
                    <input class="form-control" type="date"
                           placeholder="По"
                           formControlName="dataTo"
                           required=""
                           [(ngModel)]="dataPrivatTo" />
                </div>
            </form>
            <button (click)="getExtracts()"
                    class="btn btn-success pull-right margin"
                    data-dismiss="modal"
                    [disabled]="bankImportForm.invalid">
                OK
            </button>
        </div>
        <div *ngIf="_dataForFinOp.length!=0 && !importData.error">
            <button class="margin btn btn-default col-md-offset-10" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" toggle="true"><i class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></i></button>
            <table class="table-bordered table">
                <thead>
                    <tr>
                        <th>Стан</th>
                        <th>Дата</th>
                        <th>Код</th>
                        <th>Сума</th>
                        <th>Залишок</th>
                        <th>Опис</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let dataFinOp of _dataForFinOp">
                        <td><input type="checkbox" [checked]="dataFinOp.tempState" [disabled]="dataFinOp.isLooked" (change)="dataFinOp.tempState= !dataFinOp.tempState" /></td>
                        <td> {{dataFinOp.trandate}}</td>
                        <td> {{dataFinOp.appCode}}</td>
                        <td> {{dataFinOp.cardAmount}}</td>
                        <td> {{dataFinOp.rest}}</td>
                        <td> {{dataFinOp.description}}</td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-success pull-right top-button" data-dismiss="modal">
                Обробити
            </button>
        </div>
        <div *ngIf="importData.error" class="error-message">
            {{importData.error}}
        </div>
    </div>
</app-modal>
