<button id="submit" class="btn btn-success" (click)="onActionClick()">Отримати виписки</button>
<app-modal>
    <div class="app-modal-header">
        <button type="button" class="close" aria-hidden="true" (click)="closeModal()">&times;</button>
        <h4 class="modal-title">Заповніть дані: </h4>
    </div>
    <div class="app-modal-body">
        <div>
            <label class="control-label">Номер картки:</label>
            <input class="col-md-12" type="text"
                   #id="ngModel"
                   pattern="[+0-9]*"
                   required
                   [(ngModel)]="dataForPrivat.card" />
        </div>
        <div>
            <label class="control-label">ID мерчанта:</label>
            <input class="col-md-12" type="text"
                   #id="ngModel"
                   pattern="[+0-9]*"
                   required
                   [(ngModel)]="dataForPrivat.idMerchant" />
        </div>
        <div>
            <label class="control-label">Пароль мерчанта:</label>
            <input class="col-md-12" type="password"
                   #password="ngModel"
                   required
                   [(ngModel)]="dataForPrivat.password" />
        </div>
        <div>
            <label class="control-label">Дата "з":</label>
            <input class="col-md-12" type="date"
                   #dataFrom="ngModel"
                   required
                   [(ngModel)]="dataPrivatFrom" />
        </div>
        <div>
            <label class="control-label">Дата "по":</label>
            <input class="col-md-12" type="date"
                   #dataTo="ngModel"
                   required
                   [(ngModel)]="dataPrivatTo" />
        </div>
        <div *ngIf="_dataForFinOp.length!=0">
            <table class="table-bordered table">
                <thead>
                    <tr>
                        <th>Стан</th>
                        <th>Дата</th>
                        <th>Код</th>
                        <th>Сума</th>
                        <th>Залишок</th>
                        <th>Опис</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let dataFinOp of _dataForFinOp">
                        <td><input type="checkbox" [checked]="dataFinOp.tempState"  [disabled]="dataFinOp.isLooked" (change)="dataFinOp.tempState= !dataFinOp.tempState" /></td>
                        <td> {{dataFinOp.trandate}}</td>
                        <td> {{dataFinOp.appCode}}</td>
                        <td> {{dataFinOp.cardAmount}}</td>
                        <td> {{dataFinOp.rest}}</td>
                        <td> {{dataFinOp.description}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <button (click)="getExtracts()" class="btn btn-success" data-dismiss="modal">
            Надіслати
        </button>
    </div>
</app-modal>
