.scrollable-menu {
    height: auto !important;
    max-height: 350px !important;
    overflow-x: hidden !important;
}

.table {
    display: inline-block;
    height: auto !important;
    max-height: 200px !important;
    margin-top: 2%;
    margin-left:1%;
    margin-right:2%;
    overflow-x: hidden !important;
}

.margin {
    margin-top: 1%;
}

.top-button {
    margin-top: -20px;
}

.error-message {
    margin-top: 2%;
    color: red;
    line-height: 20px;
}

.form-group {
    margin-left: 1%;
    margin-right:1%;
    margin-top: -10px;
}
