<div class=" row">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12" *ngFor="let organization of allOrganizations">
        <div class="panel panel-primary panel-size">
            <div class="panel-heading">
                <div class="panel-title pull-left lead">
                    <a [routerLink]="['']">{{organization.name}}</a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body panel-padding">
                <div class=" pull-left div-panel-margen">
                    <img class="img-responsive" [src]="organization.logoUrl" />
                </div>
                <div class="div-strings">
                    {{organization.description}}
                </div>
                <div class="pull-right">
                    <a href="#" class="linkBack">Детальніше</a>
                </div>
            </div>
        </div>
    </div>
</div>