/* enable absolute positioning */
.inner-addon {
    position: relative;
}

    /* style icon */
    .inner-addon .glyphicon {
        position: absolute;
        padding: 10px;
        pointer-events: none;
    }

/* align icon */
.left-addon .glyphicon {
    left: 0px;
}

.right-addon .glyphicon {
    right: 0px;
}

/* add padding  */
.left-addon input {
    padding-left: 30px;
}

.right-addon input {
    padding-right: 30px;
}

.btn{
    float:right;
}

.back {
    background-color: #ddddbb;
    padding: 7px 15px 20px 30px;
}

.img-logo{
    height: 200px;
    width: auto;
    margin-right: auto;
    padding: 10px 0px;
}

.sup-color-red {
    color: red;
}