<spinner></spinner>
<div class="back col-md-offset-1 col-md-10">
    <h2> Форма реєстрації організації</h2>
    <form #form="ngForm">
        <h4> Загальні відомості </h4>
        <div class="form-group" [class.has-error]="name.invalid&&name.touched">
            <label class="control-label"> Назва організації<sup class="sup-color-red">*</sup></label>
            <div class="inner-addon left-addon">
                <i class="glyphicon glyphicon-pencil"></i>
                <input type="text" class="form-control" [(ngModel)]="organization.name" placeholder="Введіть назву" required minlength="5" maxlength="50" name="name" #name="ngModel" />
            </div>
            <div *ngIf="name.errors && name.errors.minlength"
                 class="alert alert-danger">
                <div [hidden]="!name.errors.minlength">
                    Назва має містити принаймі 5 символів.
                </div>
                <div [hidden]="!name.errors.maxlength">
                    Назва не може перевищувати 50 символів.
                </div>
            </div>
            <div class="alert-danger">
                {{nameError}}
            </div>
        </div>
        <div class="form-group" [class.has-error]="description.invalid&&description.touched">
            <label class="control-label"> Опис організації<sup class="sup-color-red">*</sup></label>
            <div class="inner-addon left-addon">
                <i class="glyphicon glyphicon-pencil" *ngIf="!description.dirty"></i>
                <textarea class="form-control" [(ngModel)]="organization.description" required minlength="20" placeholder="     Введіть опис" maxlength="200" name="description" #description="ngModel" rows="5"> </textarea>
            </div>
            <div *ngIf="description.errors && description.errors.minlength"
                 class="alert alert-danger">
                <div [hidden]="!description.errors.minlength">
                    Опис має містити принаймі 20 символів.
                </div>
                <div [hidden]="!description.errors.maxlength">
                    Опис не може перевищувати 100 символів.
                </div>
            </div>
        </div>
        <h4> Представник </h4>
        <div class="form-group" [class.has-error]="login.invalid&&login.touched">
            <label class="control-label"> Логін адміністратора<sup class="sup-color-red">*</sup></label>
            <div class="inner-addon left-addon">
                <i class="glyphicon glyphicon-user"></i>
                <input type="text" class="form-control" required [(ngModel)]="organization.administratorLogin" pattern="[a-zA-Z0-9_]*" placeholder="Введіть логін адміністратора" name="login" #login="ngModel" />
            </div>
            <div *ngIf="login.errors && login.length"
                 class="alert alert-danger">
                <div [hidden]="!login.errors.pattern">
                    Введено недозволений символ
                </div>
            </div>
            <div class="alert-danger">
                {{userError}}
            </div>
        </div>
        <h4> Місцезнаходження</h4>
        <div class="form-group" [class.has-error]="city.invalid&&city.touched">
            <label class="control-label"> Місто<sup class="sup-color-red">*</sup></label>
            <div class="inner-addon left-addon">
                <i class="glyphicon glyphicon-home"></i>
                <input type="text" class="form-control" [(ngModel)]="organization.city" placeholder="Введіть місто" pattern="[А-Яа-яїЇіІ]*" name="city" #city="ngModel" />
            </div>
            <div *ngIf="city.errors && (city.dirty || city.touched)"
                 class="alert alert-danger">
                <div [hidden]="!city.errors.pattern">
                    Поле може містити лише кирилицю.
                </div>
            </div>
        </div>
        <div class="form-group" [class.has-error]="street.invalid&&street.touched">
            <label class="control-label"> Вулиця<sup class="sup-color-red">*</sup></label>
            <div class="inner-addon left-addon">
                <i class="glyphicon glyphicon-home"></i>
                <input type="text" class="form-control" [(ngModel)]="organization.street" required placeholder="Введіть вулицю" name="street" #street="ngModel"/>
            </div>
        </div>

        <div class="form-group" [class.has-error]="house.invalid&&house.touched">
            <label class="control-label"> Будинок<sup class="sup-color-red">*</sup></label>
            <div class="inner-addon left-addon">
                <i class="glyphicon glyphicon-home"></i>
                <input type="text" class="form-control" [(ngModel)]="organization.house" placeholder="Введіть будинок" name="house" #house="ngModel" required />
            </div>
        </div>
        <span><sup class="sup-color-red">*</sup> поле обов'язкове для заповнення</span>
        <br />
        <div class="form-group">
            <div>
                <img class="img-logo" *ngIf="isNewLogoAvailable" [src]="newLogo.imageSrc" />
                <img class="img-logo" *ngIf="!isNewLogoAvailable" [src]="defaultLogoUrl" />
            </div>
            <div style="display:flex;">
                <button type="button" class="btn btn-danger" *ngIf="isNewLogoAvailable" (click)="clearImage()">Видалити</button>
                <button type="button" class="btn btn-success" (click)="imageInput.click()">Обрати</button>
                <input type="file" (change)="handleInputChange($event)" #imageInput accept=".png,.jpg" class="text-center center-block well well-sm hidden">
            </div>
            <div class="alert alert-danger" *ngIf="isError">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                {{errorMessage}}
            </div>
        </div>
        <div class="col-md-offset-10 col-md-1">
            <button (click)="registerOrganization()" class="btn btn-primary" type="submit" [disabled]="form.invalid"> Зареєструвати </button>
        </div>
    </form>
</div>

<app-modal #success>
    <div class="app-modal-header">
        <h4> Успішне завершення операції </h4>
    </div>
    <div class="app-modal-body">
        <p>Організацію "{{orgName}}" зареєстровано на сайті. </p>
    </div>
    <div class="app-modal-footer">
        <button type="button" class="btn btn-primary" (click)="modal.hide()">Закрити</button>
    </div>
</app-modal>