<spinner [showSpinner]="showUsersSpinner"></spinner>
<div class="col-lg-6 col-md-12" *ngFor="let event of _model">
    <div class="panel panel-primary panel-size">
        <div class="panel-heading">
            <div class="panel-title pull-left lead">
                <a [routerLink]="['']">{{event.organizationName}}</a>
            </div>
            <div class="panel-title pull-right">
                {{event.createDate | date:'short'}}
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body panel-padding">
            <div class=" pull-left div-panel-margen">
                <img [src]="event.imageUrl  ? event.imageUrl  : '/images/NotAvailableImage5x3.jpg'"/>
            </div>
            <div class="div-strings">
                {{event.description}}
            </div>
            <div class="pull-right">
                <a [routerLink]="['/home/eventdetail',event.id]" class="linkBack">Читати далі</a>
            </div>
        </div>
    </div>
</div>