<div class="row">
    <div class="panel panel-primary" *ngFor="let event of model">
        <div class="panel-heading">
            <div class="panel-title pull-left">
                {{event.organizationName}}
            </div>
            <div class="panel-title pull-right">
                {{event.createDate | date }}
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body panel-padding">
            <div class="row">
                <img src={{event.imageUrl}} class="img-responsive" />
            </div>
            <div class="row">
                {{event.description}}
            </div>
        </div>
    </div>
</div>