<div class="modal fade" id="detailInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title deleteModalTitle" id="myModalLabel">Детальна інформація</h4>
            </div>
            <div class="modal-body">
                <div *ngIf="detailInfoRequest"class="thumbnail">                  
                    <img *ngIf="detailInfoRequest.images[0]" class="img-responsive" src="{{detailInfoRequest.images[0].imageUrl}}" alt="" />            
                    <div class="caption-full">
                        <h4><strong>Назва: </strong>{{detailInfoRequest.name}}</h4>
                        <h4><strong>Категорія: </strong>{{detailInfoRequest.goodsCategory}}</h4>
                        <p>{{detailInfoRequest.description}}</p>
                    </div>
                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Закрити</button>
            </div>
        </div>
    </div>
  </div>
</div>