<div *ngIf="_allRequestedItems" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 list-group">
    <spinner></spinner>
    <div *ngFor="let requestedItem of _allRequestedItems" id="products">
        <div class="item col-xs-12 col-lg-3">        
            <div class="thumbnail">
                <div class="item-header">
                    <h4 class="header-text">{{requestedItem.name}}</h4>
                    <div class="action-icons">
                        <a (click)="setCurrentRequestedItem(requestedItem)" data-toggle="modal" data-target="#detailInfo"><span class="glyphicon glyphicon-info-sign green"></span></a>                       
                        <a (click)="redirectToManageRequestPage(requestedItem.id)"><span class="glyphicon glyphicon-pencil green"></span></a>
                        <a (click)='setCurrentRequestedItem(requestedItem)' data-toggle="modal" data-target="#deleteRequest"><span class="glyphicon glyphicon-trash green"></span></a>
                    </div>                    
                </div>
                <div class="photo">
                    <img *ngIf="requestedItem.images[0]" class="center-block group list-group-image img-responsive main-image" src="{{requestedItem.images[0].imageUrl}}" alt="" />            
                </div>            
                    <div class="caption">
                        <p class="group inner list-group-item-text"><span class="text-style">Категорія: </span>{{requestedItem.goodsCategory}}</p>
                        <p class="group inner list-group-item-text"><span class="text-style">Опис: </span>{{requestedItem.description|truncate : 25}}</p>
                    </div>                              
                <delete-request [itemToToDelete]='currentRequestedItem' (onSuccesfullDelete)="deleteRequestedItem()"></delete-request>     
                <detail-info [detailInfoRequest]='currentRequestedItem'></detail-info>
            </div>
        </div>
    </div>
</div>

<div *ngIf="_allRequestedItems">
    <div class="center-block pagination-dropdown">   
        <span id="for-select-item">Показувати по:</span>
            <select-item [items]="[4, 8, 12]"
                         (onSelect)="itemsPerPageChange($event)">
            </select-item>
       </div>
       <div class="text-center" *ngIf="_totalItems && _itemPerPage">
        <pagination-pages [offset]="_offset"
                          [limit]="_itemPerPage"
                          [size]="_totalItems"
                          [currentPage]="_currentPage"
                          (pageChange)="onPageChange($event)"
                          class="col-md-12">
        </pagination-pages>
    </div>
</div>
