    <div class="modal fade" id="deleteRequest" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title deleteModalTitle" id="myModalLabel">Видалити потребу</h4>
            </div>
            <div class="modal-body">
                <span>
                    Підтвердіть видалення потреби               
                </span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
                <button type="button" class="btn btn-danger" (click)='deleteConfirmation()' data-dismiss="modal">Видалити</button>
            </div>
        </div>
    </div>
</div>