h2 {
    color: #fffc00;
    font-weight: 500;
}

.table-title h3 {
    color: #1a1a1a;
    font-size: x-large;
    font-weight: 400;
    font-style: normal;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
}

/*form Grid*/

.glyphicon {
    margin-right: 5px;
}

.thumbnail {
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item {
    float: none;
    width: 100%;
    background-color: #f5f5f5;
    margin-bottom: 10px;
}

.item.list-group-item:nth-of-type(odd):hover, .item.list-group-item:hover {
    background: #428bca;
}

item.list-group-item .list-group-image {
    margin-right: 10px;
}

.item.list-group-item .thumbnail {
    margin-bottom: 0px;
}

.item.list-group-item .caption {
    padding: 9px 9px 0px 9px;
    border-top: 0.8px solid black;
}

.item.list-group-item:nth-of-type(odd) {
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after {
    display: table;
    content: " ";
}

.item.list-group-item img {
    float: left;
}

.item.list-group-item:after {
    clear: both;
}

.list-group-item-text {
    margin: 0 0 11px;
}


.list-group-image {
    max-height: 250px;
    width: auto;
    background-color: black;
}

.photo {
    height: 250px;
    background: white;
    vertical-align: middle;
}

.main-image {
    padding: 5px;
    background-color: white;
}

.caption {
    background-color: #516d3a;
    border-top: 1px solid #ccc;
}

.thumbnail > .caption {
   
    border-top: 0.8px solid black;
}

.action-icons {
    right: 0;
    top: 0;
    position: absolute;
    padding-right: 18px;
    padding-top: 11px;
    color: #db380f;
}

.action-icons{
    cursor:pointer;
}

.item-header {
    border-bottom: 2px solid #ccc;
}

.header-text {
    padding-top: -5px;
    padding-left: 10px;
    color: #587443;
}

/* relevant styles */
.caption-wrap {
    position: inherit center;
}

.item-description-layer {
    position: absolute;
    top: 0;
    bottom: 20px;
    left: 15px;
    right: 15px;
    background: rgba(51, 79, 56, 0.8);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
}

.caption-wrap:hover .item-description-layer {
    visibility: visible;
    opacity: 1;
}

.item-description {
  transition: .2s;
  transform: translateY(1em);
}

.caption-wrap:hover .item-description {
  transform: translateY(0);
}

.text-style {
    font-weight: bold;
    color: #ddd;
}

.item-description{
    overflow: hidden;
}

.pagination-dropdown {
    width: 12%;
}

#for-select-item {
    font-size: large;
    color: yellow;
}

.caption{
    color: white;
}
 