<div class='container'>
    <div class='row'>
        <div class='col-sm-10 col-sm-offset-1'>
            <div class='well'>
                <form #form="ngForm" novalidate>                   
                    <div class='row'>
                        <div class='col-sm-4'>
                            <div class='form-group' [class.has-error]="itemName.invalid && itemName.dirty">
                                <label for='itemName'>Назва</label>
                                <input #itemName="ngModel" id="itemName" class="form-control" type="text" required 
                                       [(ngModel)]="_requestedItem.name" name="itemName" />
                                <span *ngIf="itemName.invalid && itemName.dirty" class="has-error fixedError">
                                    {{_requiredFieldMessage}}
                                </span>
                            </div>
                            
                            <div class="form-group">
                                <label for="goodsType">Тип</label>
                                <select required id="goodsType" class="form-control" [(ngModel)]="_selecteType" name="goodsType">
                                    <option selected="selected">Виберіть тип</option>
                                    <option *ngFor="let goodType of _goodsTypes"
                                            [ngValue]="goodType">
                                        {{goodType.name}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group" *ngIf="_selecteType">
                                <label for="categoryType">Категорія</label>
                                <select [disabled]="!isTypeSelected()" id="categoryType" class="form-control" [(ngModel)]="_requestedItem.goodsCategoryId" name="categoryType">
                                    <option selected="selected">Виберіть категорію</option>
                                    <option *ngFor="let category of _selecteType.typeCategories"
                                            [value]="category.id">
                                        {{category.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class='col-sm-8'>
                            <div class='form-group' [class.has-error]="itemDescription.invalid && itemDescription.dirty">
                                <label for='message'>Опис</label>
                                <textarea id="itemDescription" required class='form-control'
                                          name='itemDescription' rows='9' #itemDescription="ngModel"
                                          [(ngModel)]="_requestedItem.description"></textarea>
                                <span *ngIf="itemDescription.invalid && itemDescription.dirty" class="has-error help-block fixedError">
                                    {{_requiredFieldMessage}}
                                </span>
                            </div>                            
                         </div>    
                        <div class="form-group">                      
                            <div>
                                <div *ngFor="let _currentImage of _requestedItem.images" style="display:inline-block">
                                    <div class="img-container">
                                        <img src="{{_currentImage.imageUrl}}" class="img-responsive img-thumbnail item-image">
                                        <a (click)="deleteCurrentImage(_currentImage)"><span class="glyphicon glyphicon-remove"></span></a>
                                    </div>
                                </div>
                                <div class="img-container">
                                    <img src={{addingImage}}
                                         (click)="imageInput.click()" class="img-responsive img-thumbnail add-image item-image" title="Додати зображення">
                                    <input type="file" (change)="saveFileInAws($event)" #imageInput accept=".png,.jpg" class="well well-sm hidden">
                                </div>
                            </div>
                        </div>
                        <div class='text-right'>
                            <button class="btn btn-success pull-right" (click)="manageRequestedItems()" [disabled]="form.invalid || !isCategorySelected() || !isTypeSelected()" style="margin-right: 14px">Зберегти</button>
                            <button class="btn btn-warning pull-right" (click)="backToAllItems()" style="margin-right: 7px">Відмінити</button>
                        </div>
                    </div>
                    {{_errorMessage}}
                </form>
            </div>
        </div>
    </div>
</div>
