<spinner></spinner>
<style>
    .custom-button{
        margin-top: 10%;
    }
</style>
<div class="col-md-12">
   
    <div class="col-md-2 col-md-offset-0 container back table-responsive">
        <button class="btn btn-md btn-block btn-success custom-button" (click)="navigateBack()"><span class="glyphicon glyphicon-arrow-left"></span> <strong>Назад</strong></button>
        <button type="button" class="btn btn-default btn-lg btn-block" style="margin-top:10%; border-color:#314720;color:#314720" (click)="onActionClick()">
            <strong>Нові виписки</strong>
        </button>
        <br>
        <button type="button" class="btn btn-default btn-lg btn-block" style="margin-bottom:10%; border-color:#314720;color:#314720" data-toggle="collapse" data-target="#demo">
            <strong>Фільтри</strong>
        </button>

        <div id="demo" class="collapse">
            <div class="form-group" style="float:left !important;">
                <label class="control-label" style="margin-top:10%;">Дата "з":</label>
                <input class="form-control" type="date"
                       placeholder="По"
                       [(ngModel)]="_bankSearchModel.dataFrom" />
            </div>
            <div class="form-group" style="float:left !important;">
                <label class="control-label">Дата "по":</label>
                <input class="form-control" type="date"
                       placeholder="По"
                       [(ngModel)]="_bankSearchModel.dataTo" />
            </div>
            <div class="form-group" style="float:left !important;">
                <div>
                    <label class="control-label">Виберіть стан:</label>
                    <select id="categoryType" class="form-control" [(ngModel)]="_bankSearchModel.state">
                        <option disabled selected style="display: none;">Виберіть стан</option>
                        <option value="">Всі виписки</option>
                        <option value=true>Оброблені</option>
                        <option value=false>Необроблені</option>
                    </select>
                </div>
                <br />
                <button class="btn btn-fundtrack-style" (click)="searchBankImport()">Шукати</button>
            </div>
        </div>
    </div>
    <div class="col-md-8" *ngIf="_dataForFinOp" >
        <div class="row grid-divider">
            <table class="table table-list-search back" style="margin-left:4%">
                <thead>
                    <tr>
                        <th>Дата</th>
                        <th>Код</th>
                        <th>Сума</th>
                        <th>Залишок</th>
                        <th>Стан</th>
                        <th>Опис</th>
                        <th>Обробити</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let dataFinOp of _dataForFinOp"
                        [ngClass]="{'activated':dataFinOp.isLooked==true,'deactivated':dataFinOp.isLooked==false}">
                        <td> {{dataFinOp.trandate | date: 'dd/MM/yyyy hh:mm'}}</td>
                        <td> {{dataFinOp.appCode}}</td>
                        <td> {{dataFinOp.cardAmount}}</td>
                        <td> {{dataFinOp.rest}}</td>
                        <td class='deactivated-state' *ngIf="!dataFinOp.isLooked">Необроблена</td>
                        <td *ngIf="dataFinOp.isLooked">Оброблена</td>
                        <td> {{dataFinOp.description}}</td>
                        <td><button id="submit" class="btn btn-fundtrack-style pull-right" [disabled]="dataFinOp.isLooked" (click)="createFinOp(dataFinOp)">Обробити</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div id="snackbar">Виконано</div>
<app-modal #newBankImport>
    <div class="app-modal-header">
        <button type="button" class="close" aria-hidden="true" (click)="closeModal()">&times;</button>
        <h4 class="modal-title">Заповніть дані: </h4>
    </div>
    <div class="app-modal-body">
        <div class="collapse in" id="collapseExample">
            <form class="form-horizontal" [formGroup]="bankImportForm" id="bankImportForm" novalidate>
                <div class="form-group">
                    <label class="control-label">Номер картки:</label>
                    <input class="form-control"
                           disabled
                           type="text"
                           placeholder="Номер картки"
                           name="cardNumber"    
                           formControlName="cardNumber"
                           [(ngModel)]="dataForPrivat.card"
                           required="" />
                    <span *ngIf="formErrors.cardNumber" class="has-error help-block error-message">
                        {{ formErrors.cardNumber }}
                    </span>
                </div>
                <!--<div class="form-group">
                    <label class="control-label">ID мерчанта:</label>
                    <input class="form-control"
                           type="text"
                           placeholder="ID мерчанта"
                           formControlName="idMerchant"
                           required=""
                           [(ngModel)]="dataForPrivat.idMerchant" />
                    <span *ngIf="formErrors.idMerchant" class="has-error help-block error-message">
                        {{ formErrors.idMerchant }}
                    </span>
                </div>
                <div class="form-group">
                    <label class="control-label">Пароль мерчанта:</label>
                    <input class="form-control"
                           type="password"
                           formControlName="password"
                           placeholder="Пароль мерчанта"
                           required=""
                           [(ngModel)]="dataForPrivat.password" />
                    <span *ngIf="formErrors.password" class="has-error help-block error-message">
                        {{ formErrors.password}}
                    </span>
                </div>-->
                <div class="form-group">
                    <label class="control-label">Дата "з":</label>
                    <input class="form-control" type="date"
                           placeholder="З"
                           formControlName="dataFrom"
                           required=""
                           [(ngModel)]="dataPrivatFrom" />
                </div>
                <div class="form-group">
                    <label class="control-label">Дата "по":</label>
                    <input class="form-control" type="date"
                           placeholder="По"
                           formControlName="dataTo"
                           required=""
                           [(ngModel)]="dataPrivatTo" />
                </div>
            </form>
        </div>
        <div *ngIf="importData.error" class="error-message">
           Помилка банку: {{importData.error}}
        </div>
    </div>
    <div class="app-modal-footer">
        <button (click)="getExtracts()"
                class="btn btn-fundtrack-style pull-right"
                data-dismiss="modal"
                [disabled]="bankImportForm.invalid">
            OK
        </button>
        <button (click)="closeModal()"
                class="btn btn-default pull-right"
                data-dismiss="modal">
            Скасувати
        </button>
    </div>
</app-modal>

<app-modal #finOp>
    <div class="app-modal-header">
        <button type="button" class="close" aria-hidden="true" (click)="closeFinOpModal()">&times;</button>
        <h4 class="modal-title">Заповніть дані для фінансової операції: </h4>
    </div>
    <div class="app-modal-body">
        <div class="form-group">
            <label class="control-label">Рахунок:</label>
            <input class="form-control"
                   type="text"
                   [disabled]="true"
                   placeholder="Рахунок"
                   required=""
                   [(ngModel)]="currentOrgAccountNumber" />
        </div>
        <div class="form-group">
            <label class="control-label">Сума:</label>
            <input class="form-control"
                   type="text"
                   [disabled]="true"
                   placeholder="Сума"
                   required=""
                   [(ngModel)]="_newFinOp.absoluteAmount"/>
        </div>
        <br>
        <div class="form-group">
            <label class="control-label" for="accountName">Рух коштів:</label>
            <div>
                <input type="radio" name="gender" value="true" [checked]="_newFinOp.amount>0" disabled > Прихід<br>
                <input type="radio" name="gender" value="false" [checked]="_newFinOp.amount<0" disabled> Розхід<br>
            </div>
        </div>
        <br>
        <div class="form-group">
            <label class="control-label">Опис:</label>
            <textarea class="form-control"
                      type="text"
                      placeholder="Опис"
                      required=""
                      [(ngModel)]="_newFinOp.description">
</textarea>
        </div>
        <div>
            <label class="control-label">Виберіть призначення платежу:</label>
            <select class="form-control" [(ngModel)]="_newFinOp.targetName" required="" id="target">
                <option [ngValue]="undefined" selected>Призначення платежу</option>
                <option value={{item.name}} *ngFor="let item of targets">{{item.name}}</option>
            </select>
        </div>
    </div>
    <div class="app-modal-footer">
        <button class="btn btn-fundtrack-style pull-right"
                (click)="saveFinOp()"
                [disabled]="!_newFinOp.targetName"
                data-dismiss="modal">
            OK
        </button>
        <button (click)="closeFinOpModal()"
                class="btn btn-default pull-right"
                data-dismiss="modal">
            Скасувати
        </button>
    </div>
</app-modal>
