.right{
    float:right;
}

.line-left{
    margin-left: 0px;
}

.indent{
    margin-bottom: 10px;
}

.line-top{
    margin-top: 2%;
}

.disabled {
    background-color: #eee;
    cursor: not-allowed;
}

.styledParagraph {
    color: #333333;
    font-family: Georgia, serif;
    font-size: 18px;
    line-height: 25px;
    margin: 0 0 28px;
}

.paragraph {
    color: #333333;
    font-family: 'Bitter', serif;
    font-size: 25px;
    font-weight: normal;
    line-height: 54px;
    margin: 0 0 54px;
}

label {
    color: #333333;
    font-family: Georgia, serif;
    font-size: 16px;
}

.message {
    color: #333333;
    font-family: Georgia, serif;
    font-size: 14px;
    line-height: 18px;
    margin: 0 0 20px;
}

.btn-primary {
    color: #fff;
    background-color: #627F49;
    border-color: #233915;
    font-family: Georgia, serif;
    font-size: 18px;
}

    .btn-primary:hover {
        background-color: #233915;
    }

textarea {
    font-family: Georgia, serif;
    font-size: 14px;
}

.background {
    background-image: url("https://privat24.privatbank.ua/p24/img/concrete_wall_3.png");
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}