<div class="background col-md-offset-1 col-md-10">   
    <div class="row">
        
        <div class="col-md-offset-1 col-md-4 line-top">
            <p class="styledParagraph">
                Напевно, багатьом людям траплялися публікації про те, як рятували солдатам життя бронежилети, як допомагали їм каски, як зручно
                воювати в надійному та практичному взутті.                 
            </p>
            <p class="styledParagraph">Якби прості люди спільними зусиллями не жертвували кошти на усі ці критично важливі для армії речі, ситуація була би значно гіршою.
                Для тих, хто бажає зробити пожертву для української армії, на нашому сайті є можливість це здійснити. </p>
            <p class="styledParagraph"> А звітність допоможе перевірити рух коштів, які ви вносите. </p>
            <p class="paragraph"> Допомогти може кожен!</p>
        </div>

        <div class="col-md-offset-1 col-md-4 line-top">
            <form [formGroup]="donateForm">       
               
                <div class="indent">
                    <label> Виберіть організацію </label>
                    <dropdown-org class="line-left" [defaultOrgId] ="_defaultOrgId"> </dropdown-org>
                </div>
                
                <div *ngIf="hasAccountForDonate" class="indent">
                    <label> Виберіть рахунок</label>
                    <select class="form-control" formControlName="accountForDonation" [(ngModel)]="accountForDonation" (ngModelChange)="onSelectChange($event)">
                        <option class="form-control" *ngFor="let accountForDonation of donateAccounts" [ngValue]="accountForDonation"> {{accountForDonation.name}} </option>
                    </select>
                    <p *ngIf="accountForDonation.description" class="message">
                        <strong> Опис рахунку: </strong> {{accountForDonation.description}}
                    </p>
                    <div *ngIf="formErrors.accountForDonation">
                        {{formErrors.accountForDonation}}
                    </div>         
                </div>

                <div *ngIf="this.organizationId && !this.hasAccountForDonate">
                    <p class="message"> {{messages.notEnabledDonationFunction}}</p>
                </div>

                <div class="indent">
                    <label> Сума </label>
                    <input [readonly]="!this.hasAccountForDonate" class="form-control" [ngClass]="{'disabled':!hasAccountForDonate}" type="text" formControlName="amount" />
                    <div *ngIf="formErrors.amount" class="danger">
                        <p class="message">{{formErrors.amount}} </p>
                    </div>
                </div>

                <div class="indent">
                    <label> Валюта </label>
                    <select  class="form-control" [ngClass]="{'disabled':!hasAccountForDonate}" formControlName="currency" *ngIf="currencies" [(ngModel)]="currency" (ngModelChange)="currencyChange($event)">
                        <option [disabled]="!this.hasAccountForDonate" *ngFor="let currency of currencies" [ngValue]="currency">{{currency.currencyShortName}} </option>
                    </select><br />
                    <div *ngIf="formErrors.currency">
                        <p class="message"> {{formErrors.currency}} </p> 
                    </div>
                </div>

                <div class="indent">
                    <label> Призначення </label>
                    <select class="form-control" [ngClass]="{'disabled':!hasAccountForDonate}" formControlName="target" *ngIf="targets" [(ngModel)]="target" (ngModelChange)="targetChange($event)">
                        <option [disabled]="!this.hasAccountForDonate" *ngFor="let target of targets" [ngValue]="target"> {{target.name}} </option>
                    </select><br />
                    <div *ngIf="formErrors.target">
                        <p class=" message"> {{formErrors.target}} </p>
                    </div>
                </div>

                <div class="indent">
                    <textarea [readonly]="!this.hasAccountForDonate" class="form-control" [ngClass]="{'disabled':!hasAccountForDonate}" formControlName="description" rows="5" cols="38" placeholder="Коментар">
            
                    </textarea><br />
                </div>

                <div class="indent">
                    <button type="submit" class="btn btn-primary right" style="margin-bottom: 20px;" (click)="sendDonateRequest()" [disabled]="!hasAccountForDonate"> Пожертвувати </button>
                </div>

               
            </form>
        </div>
    </div>
</div>

<app-modal #gratitude>
    <div class="app-modal-body">
        <p class="styledParagraph"> {{message}}</p>        
        <p class="styledParagraph"> {{messages.thank}} </p>       
    </div>
    <div class="app-modal-footer">
        <button (click)="modal.hide()" class="btn btn-primary"> Закрити</button>
    </div>
</app-modal>

<!--<div hidden>
    <input type="email">
    <p> Введіть email, якщо хочете отримати інформацію про платіж на пошту</p>
</div>-->
