<div *ngIf="!isExtractsConnected">
    <div *ngIf="errorMessage">
        {{errorMessage}}
    </div>
    <div *ngIf="!errorMessage">
        <p> Для отримання виписок з <a href="https://www.privat24.ua">Приват 24</a> введіть дані у відповідні поля нижче.</p>
        <form #form="ngForm">
            <label>Merchant Id<sup class="sup-color-red">*</sup></label>
            <br />
            <input class="form-control" type="text" required [(ngModel)]="connectExtractsCredential.merchantId" name="merchantId" #merchantId="ngModel" pattern="[0-9]*" />
            <br />
            <div *ngIf="merchantId.value &&  merchantId.errors && merchantId.dirty" class="alert alert-danger">
                Введено недозволений символ
            </div>
            <label>Merchant Password<sup class="sup-color-red">*</sup></label>
            <br />
            <input class="form-control" type="text" required [(ngModel)]="connectExtractsCredential.merchantPassword" name="merchantPassword" #merchantPassword="ngModel" />
            <br />
            <span><sup class="sup-color-red">*</sup> поле обов'язкове для заповнення</span>
            <br />
            <button type="submit" (click)="connectExtracts()" class="btn btn-primary right" [disabled]="form.invalid"> Підключити </button>
        </form>
    </div>
</div>

<div *ngIf="isExtractsConnected">
    <p class="custom-bold">Прийом виписок з даного рахунку доступно</p>

    <div class="row">
        <button (click)="disableModal.show()" class="btn btn-danger right"> Відключити </button>
        <label class="switch">
            <input type="checkbox" class="pull-left" [(ngModel)]="isExtractsEnable" name="extractsEnable" (change)="toggleExtracts()">
            <span class="slider round"></span>
        </label>
    </div>
    <div class="row">
        <p> <strong> Merchant Id: </strong> <span class="green-font">{{extractsCredentials.merchantId}} </span></p>
        <p> <strong> Merchant Password: </strong> <span class="green-font">{{extractsCredentials.merchantPassword}}</span></p>
        <br />
    </div>
    <div class="row">
        <p>*Функція отримання виписок</p>
        <p *ngIf="isExtractsEnable"> <b>активована.</b> </p>
        <p *ngIf="!isExtractsEnable"> <b>деактивована.</b> </p>
    </div>
</div>

<app-modal #disable>
    <div class="app-modal-header">
        <h4> Підтвердження </h4>
    </div>
    <div class="app-modal-body">
        <p> Ви впевнені, що хочете відключити можливіть отримання виписок? Для повторного включення, потрібно буде ще раз ввести <b>Merchant Id</b> та <b>Merchant Password</b>.</p>
    </div>
    <div class="app-modal-footer">
        <button class="btn btn-danger" (click)="disableExtracts()"> Підтвердити </button>
        <button type="button" class="btn btn-primary" (click)="disableModal.hide()">Закрити</button>
    </div>
</app-modal>