.custom-bold {
    font-weight: bold;
    font-size: 20px;
    font-family: Calibri;
}

.right {
    float: right;
    padding-bottom: 10px;
}

.btn-primary {
    background-color: #5b9b21;
    border-color: #5b9b21;
}

a {
    color: #5b9b21;
}

.green-font {
    color: #5b9b21;
    font-weight: bold;
}

.row {
    margin: 0px;
}

.sup-color-red {
    color: red;
}