.uptop {
    padding: 20px 0px 0px 0px;
}

.accountdetail {
    /*margin-top: 20px;*/
    background-image: url("https://privat24.privatbank.ua/p24/img/concrete_wall_3.png");
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: block;
    padding: 15px 10px 15px 20px;
    width: 100%;
}

.maindiv {
    min-height:200px;
}

.leftside {
    padding-left: 10px;
}

.date {
    color: #646464;
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    clear: none;
}

.accountname {
    color: #5b9b21;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
    clear: none;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

    /* Hide default HTML checkbox */
    .switch input {
        display: none;
    }

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #5b9b21;
}

input:focus + .slider {
    box-shadow: 0 0 1px #5b9b21;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }

.custom-bold{
    font-weight: bold;
    font-size: 20px;
    font-family: Calibri;

}

.right{
    float: right;
    padding-bottom: 10px;
}

.btn-primary {
    background-color: #5b9b21;
    border-color: #5b9b21;
}

a {
    color: #5b9b21;    
}

.green-font {
    color: #5b9b21;
    font-weight: bold;
}

.row{
    margin: 0px;
}

