<div *ngIf="!isDonationConnected">
    <div *ngIf="errorMessage">
        {{errorMessage}}
    </div>
    <div *ngIf="!errorMessage">
        <p> Для отримання пожертв через наш сайт, зареєструйте банківську карточку в системі <a href="https://fondy.ua">Fondy</a>.</p>
        <p> Після реєстрації введіть отримані дані у відповідні поля нижче.</p>
        <form #form="ngForm">
            <label>Merchant Id<sup class="sup-color-red">*</sup></label>
            <br />
            <input class="form-control" type="text" required [(ngModel)]="connectDonateCredential.merchantId" name="merchantId" #merchantId="ngModel" pattern="[0-9]*" />
            <br />
            <div *ngIf="merchantId.errors && merchantId.dirty"
                 class="alert alert-danger">
                Введено недозволений символ
            </div>
            <label>Merchant Password<sup class="sup-color-red">*</sup></label>
            <br />
            <input class="form-control" type="text" required [(ngModel)]="connectDonateCredential.merchantPassword" name="merchantPassword" #merchantPassword="ngModel" />
            <br />
            <span><sup class="sup-color-red">*</sup> поле обов'язкове для заповнення</span>
            <br />
            <button type="submit" (click)="connectDonation()" class="btn btn-primary right" [disabled]="form.invalid"> Підключити </button>
        </form>
    </div>
</div>

<div *ngIf="isDonationConnected">
    <p class="custom-bold"> Прийом платежів на цей рахунок підключено</p>
    <div class="row">
        <button (click)="disableModal.show()" class="btn btn-danger right"> Відключити </button>
        <label class="switch">
            <input type="checkbox" class="pull-left" [(ngModel)]="isDonationEnabled" name="donateEnable" (change)="toggleDonate(this.isDonationEnabled)">
            <span class="slider round"></span>
        </label>
    </div>
    <div class="row">
        <p> <strong> Merchant Id: </strong> <span class="green-font">{{donateCredentials.merchantId}} </span></p>
        <p> <strong> Merchant Password: </strong> <span class="green-font">{{donateCredentials.merchantPassword}}</span></p>
        <br />
    </div>
    <div class="row">
        <p *ngIf="isDonationEnabled"> *Функція прийняття платежів <b>активована.</b> </p>
        <p *ngIf="!isDonationEnabled"> *Функція прийняття платежів <b>деактивована.</b> </p>
    </div>
</div>

<app-modal #disable>
    <div class="app-modal-header">
        <h4> Підтвердження </h4>
    </div>
    <div class="app-modal-body">
        <p> Ви впевнені, що хочете відключити можливіть прийому платежів? Для повторного включення, потрібно буде ще раз ввести Merchant Id та Merchant Password.</p>
    </div>
    <div class="app-modal-footer">
        <button class="btn btn-danger" (click)="disableDonation()"> Підтвердити </button>
        <button type="button" class="btn btn-primary" (click)="disableModal.hide()">Закрити</button>
    </div>
</app-modal>