<div class="maindiv">
    <h2>Фінансові операції по рахунку</h2>
    <table class="table table-hover table-responsive">
        <thead>
            <tr >
                <th style="text-align:center;">Дата і час операції</th>
                <th style="text-align:center;">Опис операції</th>
                <th style="text-align:center;">Сума</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let finOp of finOps">
                <td>{{finOp.date | date: 'dd/MM/yyyy hh:mm'}}</td>
                <td>{{finOp.description}}</td>
                <td class="money">{{finOp.amount + ' ' + finOp.currencyShortName}}</td>
            </tr>
        </tbody>
    </table>
    <a class="btn">Переглянути всі операції по рахунку</a>
</div>