.scrollable-modal {
    overflow: visible;
    max-height: 500px;
}
.sup-color-red{
    color: red;
}
.maindiv {
    background-image: url("https://privat24.privatbank.ua/p24/img/concrete_wall_3.png");
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: block;
    margin-left: 10px;
    width: 91.5%;
}

td {
    font-size: 18px;
    font-family: Calibri;
}

.btn {
    border: none;
    display: inline-block;
    outline: 0;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    color: #FFFFFF;
    background-color: #4CAF50;
    margin-bottom: 10px;
}

.money {
    text-align: center;
    color: #5b9b21;
    font-weight: bold;
    width: 20%;
}

.table {
    display: inline-block;
    max-height: 400px !important;
    height: auto;
    overflow-x: auto;
    width: 100%;
    overflow-y: auto;
}

.scrollable-menu {
    height: auto !important;
    max-height: 350px !important;
    overflow-x: hidden !important;
}

.table {
    display: inline-block;
    margin-left: 1%;
    margin-right: 2%;
    max-height: 600px !important;
    height: auto;
    overflow-x: auto;
    width: 100% !important;
    overflow-y: auto;
}

.margin {
    margin-top: 1%;
}

.top-button {
    margin-top: -20px;
}

.error-message {
    margin-top: 2%;
    color: red;
    line-height: 20px;
}

.form-group {
    margin-left: 1%;
    margin-right: 1%;
    margin-top: -10px;
}

.grid-divider {
    position: relative;
    padding: 0;
}

    .grid-divider > [class*='col-'] {
        position: static;
    }

        .grid-divider > [class*='col-']:nth-child(n+2):before {
            content: "";
            border-left: 1px solid #DDD;
            position: absolute;
            top: 0;
            bottom: 0;
        }

.col-padding {
    padding: 0 15px;
}

.container {
    background-color: darkseagreen;
    margin-left: 3%;
    margin-right: 3%;
}

.btn-fundtrack-style {
    background-color: #314720;
    border-color: white;
    border-width: 2px;
    color: white;
    margin-right: 1%
}

.well-container {
    background-color: #314720;
}

.back {
    background-image: url("https://privat24.privatbank.ua/p24/img/concrete_wall_3.png");
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-top: -10px;
}

.deactivated {
    color: black;
}

.activated {
    color: black;
    opacity: 0.5;
}

.deactivated-state {
    color: #5b9b21;
}

#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 999999; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    top: 250px; /* 30px from the bottom */
}

    /* Show the snackbar when clicking on a button (class added with JavaScript) */
    #snackbar.show {
        visibility: visible; /* Show the snackbar */
        /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: 250px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: 250px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        top: 250px;
        opacity: 1;
    }

    to {
        top: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        top: 250px;
        opacity: 1;
    }

    to {
        top: 0;
        opacity: 0;
    }
}
