.uptop {
    padding: 20px 0px 0px 0px;
}
.accountdetail {
    margin-top: 20px;
    background-image: url("https://privat24.privatbank.ua/p24/img/concrete_wall_3.png");
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: block;
}
.maindiv {
   
}

.leftside{
    padding-left: 10px;
}
.date {
    color: #646464;
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    clear: none;
}
.accountname {
    color: #5b9b21;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
    clear: none;
}


#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 999999; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    top: 250px; 
}

    /* Show the snackbar when clicking on a button (class added with JavaScript) */
    #snackbar.show {
        visibility: visible; /* Show the snackbar */
        /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: 250px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: 250px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        top: 250px;
        opacity: 1;
    }

    to {
        top: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        top: 250px;
        opacity: 1;
    }

    to {
        top: 0;
        opacity: 0;
    }
}