<div>
    <div class="row">
        <ul>
            <li><a title="Додати новий рахунок організації" (click)="navigateToCreatePage()" class="active">Додати рахунок</a></li>
            <li><a *ngIf="isExtractsMerchantEnable" title="Імпорт даних для вибраного рахунку зі списку" (click)="navigateToBankImportPage()" class="active">Імпортувати дані з банку</a></li>
            <li><a *ngIf="!isExtractsMerchantEnable" title="Для імпортування даних з вибраного рахунку вкажіть MercantId та MerchantPassword для Приват 24" class="disabled">Імпортувати дані з банку</a></li>
        </ul>
    </div>
    <div class="row">
        <spinner [showSpinner]="showSpinner"></spinner>
        <div class="col-md-4">
            <div class="row">
                <h3 style="padding-left: 2%;"> Доступні рахунки</h3>
            </div>
            <div class="row">
                <button type="button" class="btn btn-lg btn-block custom-button" data-toggle="collapse" data-target="#bankAcc">
                    <strong>Банківські рахунки</strong>
                </button>
            </div>
            <div id="bankAcc" class="collapse in account-list">
                <div *ngFor="let account of bankAccounts" class="account row grow"
                     (click)="setActiveAccount(account)"
                     [class.selected]="account === selectedAccount">
                    <div class="col-md-6">
                        {{account.orgAccountName}}
                    </div>
                    <div class="col-md-2 amount col-md-offset-2">
                        <strong>{{account.currentBalance | currency: account.currencyShortName: true}}</strong>
                    </div>
                </div>
            </div>
            <div class="row">
                <button type="button" class="btn btn-lg btn-block custom-button" data-toggle="collapse" data-target="#cashAcc">
                    <strong>Готівкові рахунки</strong>
                </button>
            </div>
            <div id="cashAcc" class="collapse in account-list">
                <div *ngFor="let account of cashAccounts" class="account row grow"
                     (click)="setActiveAccount(account)"
                     [class.selected]="account === selectedAccount">
                    <div class="col-md-6">
                        {{account.orgAccountName}}
                    </div>
                    <div class="col-md-1 amount col-md-offset-2">
                        <strong>{{account.currentBalance | currency: account.currencyShortName: true}}</strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 mb20">
            <div class="row" *ngIf="ifBankSelectedType" >
                <div *ngIf="isDownloaded" class="col-md-12 mb20">
                    <orgaccountdetail [accountId]="selectAccountId" (onDelete)="onDelete($event)"></orgaccountdetail>
                </div>
            </div>
            <div *ngIf="isDownloaded" >
                <orgaccountoperation [accountId]="selectAccountId" [orgId]="orgId" (getIsExtractEnable)="onExtractEnableChange($event)" (onDelete)="onDelete($event)"></orgaccountoperation>
            </div>
            <br>
        </div>
    </div>
</div>