.maindiv {
    background-image: url("https://privat24.privatbank.ua/p24/img/concrete_wall_3.png");
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: block;
    margin-left: 10px;
    width:91.5%;
}
td {
    font-size: 24px;
    font-family: Calibri;
}

.btn {
    border: none;
    display: inline-block;
    outline: 0;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    color: #FFFFFF;
    background-color: #4CAF50;
    margin-bottom: 10px;
}

.money {
    text-align: right;
    color: #5b9b21;
    font-weight: bold;
}

.table {
    display: inline-block;
    max-height: 400px !important;
    height: auto;
    overflow-x: auto;
    width: 100%;
    overflow-y: auto;
}