<div class="col-lg-12" *ngIf="_eventDetail">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title pull-left">
                {{_eventDetail.organizationName}}
            </div>
            <div class="panel-title pull-right">
                {{_eventDetail.createDate | date:'shortDate' }}
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body panel-padding">
            <div>
                <div style="float:left; margin-right:50px">
                    <img alt="" title="" src={{_eventDetail.imageUrl[0]}} class="img-big">
                </div>
                <div *ngIf="_eventDetail.imageUrl" style="position:absolute">
                    <gallery-eventdetail [datasource]="_eventDetail.imageUrl"> </gallery-eventdetail>
                </div>
                <!--<div style="position:absolute; height:60px">
                    <p style="float:left" *ngFor="let image of _eventDetail.imageUrl">
                        <a [routerLink]="['']"><img class="img-size" alt="" src={{image}}></a>
                    </p>
                </div>-->
            </div>
            <div style="min-height:575px">
                {{_eventDetail.description}}
            </div>
            <div class="pull-right">
                <a [routerLink]="['']" class="btn linkBack">Назад</a>
            </div>
        </div>
    </div>
</div>