.panel-padding {
    padding-left: 50px;
    padding-right: 50px;
}

.div-panel-margen {
    margin-right: 20px;
    margin-bottom: 20px;
}

.img-big {
    height: 600px !important;
}

/* Main carousel style */
/*.carousel {
    width: auto;
}*/

/* Indicators list style */
.article-slide .carousel-indicators {
    bottom: 0;
    left: 0;
    margin-left: 5px;
    /*width: 100%;*/
}
    /* Indicators list style */
    .article-slide .carousel-indicators li {
        border: medium none;
        border-radius: 0;
        float: left;
        height: 54px;
        margin-bottom: 5px;
        margin-left: 0;
        margin-right: 5px !important;
        margin-top: 0;
        width: auto;
    }
    /* Indicators images style */
    .article-slide .carousel-indicators img {
        border: 2px solid #FFFFFF;
        float: left;
        height: 54px;
        left: 0;
        /*width: 100px;*/
    }
    /* Indicators active image style */
    .article-slide .carousel-indicators .active img {
        border: 2px solid #428BCA;
        opacity: 0.7;
    }
