.panel-padding {
    padding-left: 50px;
    padding-right: 50px;
}

.div-panel-margen {
    margin-right: 20px;
    margin-bottom: 20px;
}

.img-big {
    height: 600px !important;
    width: auto;
}

/*.img-size {
    border: medium none;
    margin-left: 5px;
    margin-top: 540px;
    border: 2px solid #FFFFFF;
    float: left;
    height: 54px;
    width: auto;
}*/
