<div class="well container col-md-8 col-md-offset-2" *ngIf="requestDetail">
    <div class="row-fluid">
        <div class="childName">
            {{requestDetail.name}}
        </div>
        <a [routerLink]="['/home/allrequests']" class="pull-right">Перейти до всіх запитів</a>
    </div>
    <section>
        <div class="input-list style-4">
            <div *ngIf="requestDetail.imagesUrl" class="col-md-2 col-md-offset-0">
                <gallery [datasource]="requestDetail.imagesUrl"> </gallery>
            </div>
            <div class="col-md-10">
                <div class="col-md-12 childResourse">
                    Організації: {{requestDetail.organizationName}}
                </div>
                <div class="col-md-12 childResourse">
                    <b>Статус: </b> <b><span>{{requestDetail.statusName}}</span></b>
                </div>
                <div class="col-md-12 childResourse ">
                    Тип: {{requestDetail.goodsTypeName}}
                </div>
                <div class="col-md-12 childResourse ">
                    Категорія: {{requestDetail.goodsCategoryName}}
                </div>
                <div class="col-md-12 childResourse ">
                    Опис:
                </div>
                <div class="col-md-12 description">
                    {{requestDetail.description}}
                </div>
            </div>
        </div>
        <button id="submit" name="submit" class="btn pull-right btn-fundtrack-style" (click)="onActionClick()">Пожертвувати</button>
    </section>
</div>
<app-modal>
    <div class="app-modal-header">
        <button type="button" class="close" aria-hidden="true" (click)="closeModal()">&times;</button>
        <h4 class="modal-title">Контактні дані: </h4>
    </div>
    <div class="app-modal-body">
        <div>
            <label class="control-label">Номер телефону:</label>
            <input class="col-md-12" type="text"
                   #number="ngModel"
                   pattern="[+0-9]*"
                   required
                   (blur)="customeFieldTouched=true"
                   [(ngModel)]="phoneNumber" />
        </div>
        <div>
            <label class="control-label">Додаткова інформація:</label>
            <textarea class="form-control" #description="ngModel"
                      required
                      [(ngModel)]="responseDescription">
        </textarea>
        </div>
        <div *ngIf="number.invalid && customeFieldTouched "
             class="alert alert-danger">
            <div [hidden]="!number.errors.required">
                Вкажіть інформацію, щоб ми могли з вами звязатися.
            </div>
            <div [hidden]="!number.errors.pattern">
                Номер телефону може містити тільки цифри і "+".
            </div>
        </div>
    </div>
    <div class="app-modal-footer">
        <button type="button" class="btn btn-default" (click)="closeModal()">Закрити</button>
        <button (click)="setUserResponse()"
                class="btn btn-fundtrack-style"
                data-dismiss="modal"
                [disabled]="number.invalid">
            Надіслати
        </button>
    </div>
</app-modal>
