
.gallery {
    display: inline-block;
    vertical-align: middle;
    margin-top: 20px;
    margin-right:30px;
}

.childResourse {
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    height: 36px;
    margin-left: 5%;
    padding: 0 8px;
}

.description {
    font-size: 16px;
    font-family: 'Arial';
    font-weight: 500;
    margin-left: 5%;
    padding: 0 8px;
}


.childName {
    font-size: 20px;
    font-family: 'Arial';
    font-weight: 700;
    margin: 20px;
}

a {
    text-decoration: none;
    color: darkgray;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    transition: opacity ease 0.5s;
}

.well-container {

    height: auto;
}
