<div class="col-lg-8 col-lg-offset-2 maindiv-style">
    <div class="text-center">
        <p class="lead">
            Даний сайт розроблено в підтримку волонтерського руху України.
        </p>
        <p class="lead">
            Основна мета ресурсу - створити майданчик, на якому небайдужі громадяни могли б ознайомитися з діяльністю
            волонтерських оргаізацій, отримати детальну інформацію про те, яким чином ними були витрачені отримані кошти,
            дізнатися про їх нагальні потреби та зробити пожертву.
        </p>
        <p class="lead">
            В свою чергу волонтерські організації, учасники даного ресурсу, мають змогу презентувати себе
            та ділитися з громадянами новинами про свою діяльність.
        </p>
        <a [routerLink]="['']"><img src="/images/volonter.jpg" /></a>
        <h4 class="text-center">Lv-242.Net Group</h4>
        Витрикуш Тарас, Дмитрук Сергій, Желєзняк Віторія, Малиновський Борис,<br />
        Медвідь Оксана, Сипа Василь, Теплюх Богдан, Фай Василь<br />
        <a [routerLink]="['']">www.fundtrack.com.ua</a>
    </div>
</div>
