<div class="row center-block">
    <div class="row fborder">
        <div class="text-center">
            <p class="lead">
                Даний сайт розроблено в підтримку волонтерського руху України.
            </p>
            <p class="lead">
                Основна мета ресурсу - створити майданчик, на якому небайдужі громадяни могли б ознайомитися з діяльністю
                волонтерських оргаізацій, отримати детальну інформацію про те, яким чином ними були витрачені отримані кошти,
                дізнатися про їх нагальні потреби та зробити пожертву.
            </p>
            <p class="lead">
                В свою чергу волонтерські організації, учасники даного ресурсу, мають змогу презентувати себе
                та ділитися з громадянами новинами про свою діяльність.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="text-center">
            <a [routerLink]="['']"><img src="/images/volonter.jpg" width="300" /></a>
        </div>
    </div>
    <div class="row">
        <div class="text-center">Розроблено:</div>
        <h4 class="text-center">Lv-242.Net Group</h4>
        <div class="text-center">
            Витрикуш Тарас, Дмитрук Сергій, Желязняк Віторія, Малиновський Борис,<br />
            Медвідь Оксана, Сипа Василь, Теплюх Богдан, Фай Василь<br />
        </div>
        <div class="text-center">
            <a [routerLink]="['']">www.fundtrack.com.ua</a>
        </div>
    </div>
</div>
