.scrollable-menu {
    height: auto !important;
    max-height: 200px !important;
    overflow-x: hidden !important;
}

.btn-info {
    border: solid 1px silver !important;
    background-color: #292c2f !important;
    color: #8f9296;
}

.form-control {
    width: 100% !important;
}
