<div class="row">
    <div class="btn-group">
        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
            {{_selectedOrganizationName ? _selectedOrganizationName : 'Список оргнізацій'}}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu scrollable-menu" role="menu">
            <li><input type="text" class="form-control" name="filterBy" [(ngModel)]="filterBy" placeholder="Пошук по назві організації" /></li>
            <li>
                <a [routerLink]="['home']" (click)="onSelect()">Всі організації</a>
            </li>
            <li *ngFor="let org of _organizations | organizationsListPipe:filterBy" (click)="onSelect(org)">
                <a [routerLink]="['/home/allevents',org.id]">{{org.name}}</a>
            </li>
        </ul>
    </div>
</div>

