<div class="row">
    <div class="btn-group">
        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">{{selectedOrganizationName ? selectedOrganizationName : 'Список оргнізацій'}} <span class="caret"></span></button>
        <ul class="dropdown-menu scrollable-menu" role="menu">
            <li><input type="text" class="form-control" name="filterBy" [(ngModel)]="filterBy" placeholder="Filter By" /></li>
            <li>
                <a [routerLink]="['']" (click)="onSelectAll()">Всі організації</a>
            </li>
            <li *ngFor="let org of organizations | organizationsListPipe:filterBy" (click)="onSelect(org)">
                <a [routerLink]="['/home/allevents',org.id]">{{org.name}}</a>
            </li>
        </ul>
    </div>
</div>

