ul {
    padding: 0;
    width: 780px;
}

li {
    display: inline;
}

.tn {
    margin: 2px 0px;
    box-shadow: #999 1px 1px 3px 1px;
    cursor: pointer
}

.modal-content {
    width: 670px !important;
}

.imageSelected {
    width: 640px;
    position: relative;
}

.tn {
    border: medium none;
    margin-left: 5px;
    margin-top: 530px;
    border: 2px solid #FFFFFF;
    float: left;
    height: 54px;
    width: auto;
}

.arrow-back, .arrow-forward {
    position: absolute;
    opacity: 0.8;
    background-color: white;
    padding: 10px;
    top: 190px;
    color: black;
    cursor: pointer;
}

.arrow-forward {
    left: 612px;
}

.arrow-back {
    right: 612px;
}