<script src="node_modules/chart.js/src/chart.js"></script>

<div class="container">
    <h1 class="page-header">Organization statistics</h1>
    
    <div>
        <div class="panel panel-default">
            <div class="panel-body">
                <h4 class="muted">Період</h4>
                <p></p>
                <div class="input-daterange input-group" id="datepicker">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    <input type="date" class="input-sm form-control no-spin" #startDate onkeydown="return false" (input)="setBeginDate(startDate.value)" [value]="dateFrom | date:'yyyy-MM-dd'" min="2000-01-01" max="{{inputMaxDate | date:'yyyy-MM-dd'}}" />
                    <span class="input-group-addon"> - </span>   <!--onkeydown="return false"  -> paste it to input if will be needed block keyDown -->
                    <input type="date" class="input-sm form-control no-spin" #endDate onkeydown="return false" (input)="setEndDate(endDate.value)" [value]="dateTo | date:'yyyy-MM-dd'" min="2000-01-01" max="{{inputMaxDate | date:'yyyy-MM-dd'}}" />
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="panel panel-default">
            <div class="panel-body">
                <h4 class="muted">Тип звіту</h4>
                <p></p>

                <div>
                    <select name="finOpTypeSelect" class="input-sm form-control" [(ngModel)]="reportType" (ngModelChange)="onChangeFinOpType($event)" ngModel>
                        <option value="0">Витрати</option>
                        <option value="1" selected>Надходження</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-10">
        <div class="row" *ngFor="let target of allTargets">
            <button type="button" class="baseTargetDiv" data-toggle="collapse" [attr.data-target]="'#' + target.id" (click)="onClickBaseTarget(target)">
                <strong>{{target.targetName}}  {{target.sum | number : '1.2-2'}} ₴</strong>
            </button>
            <div [attr.id]="target.id" class="collapse">
                <div *ngFor="let subTarget of target.subTargetsArray">
                    <button type="button" class="subTargetDiv" data-toggle="collapse" [attr.data-target]="'#sub' + subTarget.id" (click)="onClickSubTarget(subTarget)">
                        <strong>{{subTarget.targetName}}  {{subTarget.sum | number : '1.2-2'}} ₴</strong>
                    </button>
                    <div [attr.id]="'sub' + subTarget.id" class="collapse col-md-8 tableDiv">
                        <table class="table table-hover table-condensed table-striped center">
                            <thead>
                            <tr>
                                <th class="col-sm-1">№ п/п</th>
                                <th class="col-sm-1">Сума</th>
                                <th class="col-sm-4">Дата</th>
                                <th class="col-sm-6">Опис</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let finOp of subTarget.finOpsArray; let i = index">
                                <td>{{i+1}}</td>
                                <td>{{finOp.amount | number : '1.2-2'}}</td>
                                <td>{{finOp.date | date:'dd-MMM-yyyy HH:mm'}}</td>
                                <td>{{finOp.description}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div *ngIf="target.id==-1">
                        <table class="table table-hover table-condensed table-striped center">
                            <thead>
                                <tr>
                                    <th class="col-sm-1">№ п/п</th>
                                    <th class="col-sm-1">Сума</th>
                                    <th class="col-sm-4">Дата</th>
                                    <th class="col-sm-6">Опис</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let finOp of unassingnedFinOps; let i = index">
                                    <td>{{i+1}}</td>
                                    <td>{{finOp.amount | number : '1.2-2'}}</td>
                                    <td>{{finOp.date | date:'dd-MMM-yyyy HH:mm'}}</td>
                                    <td>{{finOp.description}}</td>
                                </tr>
                            </tbody>
                        </table>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="col-md-4 chart-container">
            <ngx-charts-bar-vertical [scheme]="colorScheme"
                                     [results]="dataSet"
                                     [gradient]="gradient"
                                     [xAxis]="showXAxis"
                                     [yAxis]="showYAxis"
                                     [legend]="showLegend"
                                     [showXAxisLabel]="showXAxisLabel"
                                     [showYAxisLabel]="showYAxisLabel"
                                     [xAxisLabel]="xAxisLabel"
                                     [yAxisLabel]="yAxisLabel"
                                     [barPadding]="barPadding"
                                     (select)="onSelect($event)">
            </ngx-charts-bar-vertical>
        </div>
        <div class="col-md-8 chart-container">
            <ngx-charts-advanced-pie-chart [scheme]="colorScheme"
                                           [results]="dataSet"
                                           [gradient]="gradient"
                                           (select)="onSelect($event)">

            </ngx-charts-advanced-pie-chart>
        </div>
    </div>
</div>