<h2 class="text-center">Всі події</h2>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <table *ngIf="_allEvents" class="table-fill">
        <thead>
            <tr>
                <th class="text-left">Дата події</th>
                <th class="text-left">Короткий опис</th>
                <th class="text-left">Редагувати</th>
                <th class="text-left">Видалити</th>
            </tr>
        </thead>
        <tbody class="table-hover">
            <tr *ngFor="let event of _allEvents">
                <td class="text-left">{{event.createDate|date:'shortTime'}}</td>
                <td class="text-left">{{event.description|truncate : 50}}</td>
                <td class="text-center">
                    <button class="btn btn-default">Редагувати</button>
                </td>
                <td class="text-center">
                    <button class="btn btn-default">Видалити</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>