<h2 class="text-center">Всі події</h2>
<table class="table-fill">
    <thead>
        <tr>
            <th class="text-left">Дата події</th>
            <th class="text-left">Короткий опис</th>
            <th class="text-left">Дії</th>
        </tr>
    </thead>
    <tbody class="table-hover">
        <tr>
            <td class="text-left">21.04.17</td>
            <td class="text-left">Їздили туда - сюда ...</td>
            <td class="text-left">
                <button class="btn btn-default">Редагувати</button>
                <button class="btn btn-default">Видалити</button>
            </td>
        </tr>
        <tr>
            <td class="text-left">23.04.17</td>
            <td class="text-left">а потім ще раз їздили туда - сюда ...</td>
            <td class="text-left">
                <button class="btn btn-default">Редагувати</button>
                <button class="btn btn-default">Видалити</button>
            </td>
        </tr>
    </tbody>
</table>